body {
	margin: 0;
	padding: 64px 0;
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: 100vh;
	box-sizing: border-box;
}
.a4-portrait {
	position: relative;
	width: 210mm;
	height: 297mm;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 64px 32px;
	box-sizing: border-box;
}
.a4-landscape {
	position: relative;
	width: 297mm;
	height: 210mm;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 16px 16px;
	box-sizing: border-box;
	margin: 0 auto;
}
@media (max-width: 1024px) {
  .a4-landscape {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .a4-landscape {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 480px) {
  .a4-landscape {
    width: 100%;
    height: auto;
    padding: 8px;
  }
}
table {
	width: 100%;
	border-collapse: collapse;
	margin: auto;
	background-color: white;
}
th, td {
	border: 1px solid black;
	text-align: center;
	padding: 4px;
	white-space: pre;
}
.declaration {
	text-align: right;
	padding: 20px 64px 0 32px;
	font-size: 20px;
	white-space: pre;
}
.idnumber {
	height: 30px;
	width: 16px;
}
