body {
	margin: 0;
	padding: 32px 0;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
.a4-portrait {
	position: relative;
	width: 210mm;
	height: 297mm;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 64px 32px;
	box-sizing: border-box;
	margin-bottom: 32px;
}
.a4-landscape {
	position: relative;
	width: 297mm;
	height: 210mm;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 16px 16px;
	box-sizing: border-box;
	margin: 0 auto;
	margin-bottom: 32px;
}
table {
	width: 100%;
	border-collapse: collapse;
	margin: auto;
	background-color: white;
}
th, td {
	border: 1px solid black;
	text-align: center;
	padding: 4px;
	white-space: pre;
	font-weight: normal;
}
.declaration {
	text-align: right;
	padding: 20px 64px 0 32px;
	font-size: 20px;
	white-space: pre;
}
.idnumber {
	height: 30px;
	width: 16px;
}
.floating-btn-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 64px;
  z-index: 1000;
	margin-bottom: 32px;
}
.floating-btn {
  background-color: #00ff9c;
  color: #2d2d2d;
  border: none;
  border-radius: 100px;
  width: 250px;
  padding: 20px;
  font-size: 34px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}
.floating-btn:hover {
	background-color: #00cc7a;
}
