* {
	position: relative;
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: #2d2d2d;
}

.icon-text {
	font-family: 'Material Symbols Outlined';
}

.icon-step-arrow {
  width: 12px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath d='M1.69542e-06 0L12 8L0 16L1.69542e-06 0Z' fill='%2300FF9C'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-link {
	display: inline-block;
  width: 20px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='white' xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath d='M9 10H5C3.61667 10 2.4375 9.5125 1.4625 8.5375C0.4875 7.5625 0 6.38333 0 5C0 3.61667 0.4875 2.4375 1.4625 1.4625C2.4375 0.4875 3.61667 0 5 0H9V2H5C4.16667 2 3.45833 2.29167 2.875 2.875C2.29167 3.45833 2 4.16667 2 5C2 5.83333 2.29167 6.54167 2.875 7.125C3.45833 7.70833 4.16667 8 5 8H9V10ZM6 6V4H14V6H6ZM11 10V8H15C15.8333 8 16.5417 7.70833 17.125 7.125C17.7083 6.54167 18 5.83333 18 5C18 4.16667 17.7083 3.45833 17.125 2.875C16.5417 2.29167 15.8333 2 15 2H11V0H15C16.3833 0 17.5625 0.4875 18.5375 1.4625C19.5125 2.4375 20 3.61667 20 5C20 6.38333 19.5125 7.5625 18.5375 8.5375C17.5625 9.5125 16.3833 10 15 10H11Z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
	margin-right: 8px;
}

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	font-family: Arial, sans-serif;
	background-color: #ffffff;
}

.alpha-list {
	list-style-type: lower-alpha;
}

/*****************************************
******************************************
******************************************


			Guideline

******************************************
******************************************
******************************************/


:root {
	/* --pri-color: #eae587; */
	--pri-color: #00FF9C;
	--pri-color-hover: #00cc7a;
	--sec-color: #2d2d2d;
	--ter-color: #000000;

	--disable-color: #e5e5e5;
	--bg-color: #ffffff;

	--aug-color: #E5E5E5;
	--text-color: #666;
	--link-color: initial;
}



h2 {
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
}

h3 {
	font-size: 20px;
	font-weight: 800;
	margin: 24px 0;
}


h6 {
	font-size: 12px;
	color: var(--text-color);

	font-weight: 400;
	letter-spacing: 0.05em;
}

p {
	color: var(--text-color);
	margin: 14px 0;
}

p.black {
	color: #000;
}

p.red {
	color: #FA7561;
}


ul.point li {
	margin: 12px 22px;
	list-style: disc;
}

.primary {
	color: #00ff9c;
}

.secondary {
	color: #e5e5e5;
}

.section {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;
	box-sizing: border-box;
}

.banner .section.nav {
	display: flex;
	padding: 32px 0 0 28px;
	align-items: start;
}

.section.nav {
	display: flex;
	padding: 32px 0 0 28px;
	align-items: start;
}

.section.step {
	background-color: #f4f5f5;
	padding: 24px;
	border-radius: 6px;
	margin: 18px 0;
}

.section.strong {
	background-color: #fff;
	border-radius: 8px;
	overflow: hidden;
	padding: 16px 32px;
	font-size: 16px;
}

.section.strong::before {
	content: "";
	background-color: var(--pri-color);
	position: absolute;
	left: 0;
	top: 0;
	width: 8px;
	height: 100%;
}

/* *************************************

	Button

**************************************** */

button {
	border: none;
	border-radius: 100px;
	padding: 8px 16px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 500;
	transition: 0.3s;
}

.lg {
	font-size: 16px;
	padding: 10px 24px;
}

.md {
	font-size: 14px;
	padding: 8px 16px;
}

.fw400 {
	font-weight: 400;
}

.fw500 {
	font-weight: 500;
}

.fw600 {
	font-weight: 600;
}

.fw700 {
	font-weight: 700;
}

.disabled {
	opacity: 0.4;
}

div.btn-primary {
	background-color: var(--pri-color);
	border-radius: 100px;
}

button.w100 {
	width: 100%;
}

button.btn-primary {
	background-color: var(--pri-color);
}

button.btn-primary:hover {
	background-color: var(--pri-color-hover);
	opacity: 0.9;
}

button.btn-secondary {
	color: #2d2d2d;
	background-color: #f4f5f5;
}

button.btn-secondary:hover {
	background-color: #cccccc;
	opacity: 0.9;
}

button.btn-black {
	background-color: #000;
	color: #fff;
}

button.btn-black:hover {
	opacity: 0.8;
}



.floating-btn-container {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 -2px 0 #E5E5E5, 0 -2px 16px #0000000f;
	margin: 0;
	padding: 12px;
	z-index: 1000;
}




/* *************************************

	tag-municipality

**************************************** */

.municipality-tag-container {
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 8px 0;
	gap: 8px;
}

.municipality-tag {
	border-radius: 8px;
	border: 1px solid #E5E5E5;
	padding: 6px 12px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.icon-checked {
	display: none;
  width: 14px;
  height: 11px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11" fill="none"><path d="M4.75012 8.1275L1.62262 5L0.557617 6.05751L4.75012 10.25L13.7501 1.25L12.6926 0.192505L4.75012 8.1275Z" fill="%232D2D2D"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
	margin-right: 8px;
}

.icon-checked.active {
  display: inline-block;
}

.municipality-tag.active {
	background: var(--pri-color);
}

/**************************************
	dialog
*****************************************/
.dialog {
	position: fixed;
	width: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 4px 16px #0000001f;
	z-index: 999;
}

@media (max-width: 480px) {
	.dialog {
		width: 100%;
		top: auto;
		transform: translate(-50%, 0);
		border-radius: 16px 16px 0 0;
		bottom: 0;
	}
}

.dialog-control-panel {
	display: flex;
	justify-content: end;
	align-items: center;
}

.dialog-close {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 12px 12px;
	margin: 12px 12px 12px 0;
}

.icon-close {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"><path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" fill="%232D2D2D"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.dialog .dialog-close:hover {
	opacity: 1;
}
.dialog h3 {
	text-align: center;
	margin: 8px auto 16px auto;
}
.dialog .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 24px 8px 24px;
}
.dialog .content p {
	padding: 0 16px;
}
.dialog .dialog-action {
	border-top: 1px solid var(--aug-color);
	padding: 24px 24px;
	width: 100%;
}
.dialog-mask {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #00000039;
	z-index: 998;
}

/**************************************
	swiper
*****************************************/


.swiper {
	margin: 24px auto;
	width: 100%;
	max-width: 400px;
	padding-bottom: 30px;
}

.swiper-slide {
	border-radius: 12px;
	border: 1px solid #e5e5e5;
	padding: 16px;
}

.swiper h4 {
	font-weight: 700;
	font-size: 16px;
	margin: 8px 0;
}

.icon-notify {
  display: inline-block;
  width: 20px; 
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath d='M15.9615 8.74996V7.24996H19.577V8.74996H15.9615ZM17.1037 15.4807L14.2115 13.3115L15.123 12.1155L18.0152 14.2845L17.1037 15.4807ZM15.0845 3.84621L14.173 2.64996L17.0652 0.480713L17.977 1.67696L15.0845 3.84621ZM3.24997 14.4807V10.577H2.23072C1.73206 10.577 1.30614 10.4003 0.952974 10.047C0.59964 9.6938 0.422974 9.26788 0.422974 8.76921V7.23071C0.422974 6.73205 0.59964 6.30613 0.952974 5.95296C1.30614 5.59963 1.73206 5.42296 2.23072 5.42296H6.09622L10.577 2.74996V13.25L6.09622 10.577H4.74997V14.4807H3.24997ZM9.07697 10.5847V5.41521L6.51147 6.92296H2.23072C2.15389 6.92296 2.08339 6.95505 2.01922 7.01921C1.95506 7.08338 1.92297 7.15388 1.92297 7.23071V8.76921C1.92297 8.84605 1.95506 8.91655 2.01922 8.98071C2.08339 9.04488 2.15389 9.07696 2.23072 9.07696H6.51147L9.07697 10.5847ZM11.9615 11.1192V4.88071C12.3538 5.23588 12.6698 5.6833 12.9095 6.22296C13.1493 6.7628 13.2692 7.35513 13.2692 7.99996C13.2692 8.6448 13.1493 9.23713 12.9095 9.77696C12.6698 10.3166 12.3538 10.764 11.9615 11.1192Z' fill='%2308D284'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
	margin-right: 8px;
}

.swiper p {
	margin: 8px 0;
}

.swiper span {
	color: var(--pri-color-hover);
}

.swiper span.icon-text {
	font-size: 20px;
	padding-right: 6px;
}

.swiper-pagination-bullet {
	background: #3c3c3c;
	width: 6px;
	height: 6px;
	opacity: 0.3;
}

.swiper-pagination-bullet-active {
	opacity: 1;
}



/**************************************
	Content
*****************************************/
.banner {
	background-color: #2d2d2d;
	text-align: center;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.banner .section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px 0 32px 0;
	gap: 24px;
}

.banner h1 {
	width: 100%;
	font-size: 34px;
  margin: 0;
  padding: 0 16px;
}

.banner h1.fill-form-topic {
	font-size:32px;
	color:#ffffff;
	padding: 16px 0 0 0;
}

.banner .content-text {
	width: 100%;
	color: #ffffff;
	font-size: 16px;
  padding: 0 16px;
	line-height: 24px;
}

.banner .recall-stage-flow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	max-width: 320px;
	width: 100%;
}

.banner .recall-stage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0.3;
	margin: 0 0;
}

.banner .recall-stage.active {
	opacity: 1;
}

.banner .recall-stage {
	color: #ffffff;
	font-size: 14px;
}

.banner .recall-stage span {
	font-size: 12px;
	font-weight: 300;
}

.candidates {
	width: 90%;
	background-color: #f4f5f5;
	padding: 32px 24px 32px 24px;
	border-radius: 12px;
	margin: 32px auto;
}

.candidates h2 {
	font-size: 20px;
}

.candidates ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.candidate {
	flex-grow: 1;
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.candidate-name {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
}

.candidate-zone {
	font-size: 14px;
	width: 100%;
}


/**************************************
	footer 
*****************************************/
.footer {
	background-color: #f4f5f5;
	padding-top: 48px;
	color: #888888;
	font-weight: 400;
}

.footer h2 {
	text-align: left;
	padding: 16px;
}

.footer h2::before {
	content: '【';
	margin-left: 4px;
}

.footer h2::after {
	content: '】';
	margin-right: 4px;
}

.footer ol {
	display: flex;
	flex-direction: column;
	gap: 16px;
	font-size: 14px;
}

.footer strong {
	color: #2d2d2d;
}

.footer .sponsor-our-work {
	padding: 8px;
	font-size: 14px;
}

.sponsor-our-work .sponsor-info {
	background-color: #ffffff;
	margin: 32px 16px;;
	padding: 16px 8px;
	text-align: center;
	color: #2d2d2d;
	border-radius: 8px;
}

.sponsor-info .bank-account {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1.8;
}

.faq {
	padding: 32px 16px 64px 16px;
	margin-bottom: 32px;
	color: #2d2d2d;
}

.faq h2 {
	margin-bottom: 24px;
}

.faq ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.faq .faq-row {
	overflow: hidden;
	transition: all 0.3s ease;
}

.faq .faq-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding: 16px;
	border-bottom: 1px solid #e5e5e5;
}

.icon-arrow {
  display: inline-block;
  width: 10px;
  height: 5px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5" fill="none"><path d="M5 5L0 0H10L5 5Z" fill="%232D2D2D"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-arrow.collapsed {
	transform: rotate(180deg);
}

.faq .answer {
	display: none;
	padding: 24px;
	border-radius: 12px;
	transition: opacity 0.3s ease;
	background-color: #f4f5f5;
	margin: 24px 16px 24px 16px;
	font-size: 14px;
}

.answer li {
	padding: 8px;
}

.faq-row.expanded .answer {
	display: block;
	opacity: 1;
}

.goback {
	display: flex;
	align-items: center;
	text-align: left;
	text-decoration: none;
	width: fit-content;
	margin-right: 16px;
	font-weight: 400;
}

.authorization-goback {
	display: flex;
	align-items: center;
	text-align: left;
	text-decoration: none;
	width: fit-content;
	margin-right: 16px;
	font-weight: 400;
}

/**************************************
	form
*****************************************/
.fill-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 48px 16px;
	justify-content: center;
	align-items: center;
}

.fill-form-header {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 90%;
	padding: 16px;
	justify-content: center;
	align-items: center;
}

.fill-form-notification {
	background-color: #f4f5f5;
	padding: 16px;
	border-radius: 8px;
	font-size: 14px;
	color: #888888;
}

.recall-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	padding: 16px;
	gap: 40px;
}

.recall-form .form-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: auto auto;
	/* gap between form-groups */
}

.recall-form .form-group label {
	font-size: 16px;
	width: 100%;
	margin-bottom: 12px;
	font-weight: 500;
	color: #2d2d2d;
}

.recall-form .form-group .input-group {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	width: 100%;
	justify-content: center;
}

.recall-form .form-group .input-group input {
	flex: 1;
	min-width: 0;
	padding: 8px;
	font-size: 14px;
}

.recall-form .form-group .input-group input::placeholder {
	text-align: right;
}

.recall-form .form-group .input-group button {
	padding: 12px 24px;
}

.recall-form .form-group .form-comment {
	width: 100%;
	margin-top: 8px;
	font-size: 14px;
	color: #888888;
	text-align: left;
}

/* *************************************
	popout
**************************************** */
#popout {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #333;
	color: white;
	padding: 12px 24px;
	border-radius: 8px;
	font-size: 16px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
	z-index: 1000;
}

#popout.visible {
	opacity: 1;
	visibility: visible;
}

#popout.hidden {
	opacity: 0;
	visibility: hidden;
}

.hyperlink-style {
	display: inline-flex;
	align-items: center;
	text-decoration: underline;
	cursor: pointer;
	margin-left: 4px;
	gap: 4px;
}

.icon-goback {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7.825 13L13.425 18.6L12 20L4 12L12 4L13.425 5.4L7.825 11H20V13H7.825Z' fill='%2300FF9C'/%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 16px;
}

.copy-icon {
	width: 14px;
	height: 16px;
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 10" fill="none"><path d="M3.5 8C3.225 8 2.98958 7.90208 2.79375 7.70625C2.59792 7.51042 2.5 7.275 2.5 7V1C2.5 0.725 2.59792 0.489583 2.79375 0.29375C2.98958 0.0979167 3.225 0 3.5 0H8C8.275 0 8.51042 0.0979167 8.70625 0.29375C8.90208 0.489583 9 0.725 9 1V7C9 7.275 8.90208 7.51042 8.70625 7.70625C8.51042 7.90208 8.275 8 8 8H3.5ZM3.5 7H8V1H3.5V7ZM1.5 10C1.225 10 0.989583 9.90208 0.79375 9.70625C0.597917 9.51042 0.5 9.275 0.5 9V2H1.5V9H7V10H1.5Z" fill="%2300FF9C"/></svg>');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.cw-icon {
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-right: 4px;
}

.cw-icon.correct {
	border: 2px solid #00ff9c;
	border-radius: 50%;
}

.cw-icon.wrong {
	position: relative;
}

.cw-icon.wrong::before,
.cw-icon.wrong::after {
	content: "";
	position: absolute;
	width: 14px;
	height: 2px;
	background-color: #ff4d4d;
	top: 50%;
	left: 0;
	transform: translateY(-50%) rotate(45deg);
}

.cw-icon.wrong::after {
	transform: translateY(-50%) rotate(-45deg);
}

.fill-form .form-group .form-comment ul {
	list-style: none;
	padding-left: 16px;
}

.cw-sample-container {
	display: flex;
	align-items: center;
}

.post-action-container {
	display: flex;
	justify-content: center;
}

.post-action {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 400px;
	width: 100%;
	padding: 16px;
}

.post-action button {
	padding: 12px 24px;
}

.browser-warning-container {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff8dc;
	box-shadow: 0 -6px 15px rgba(0, 0, 0, 0.3), 0 -10px 25px rgba(0, 0, 0, 0.2);
	z-index: 1000;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.browser-waring-title {
	text-align: center;
	font-weight: 700;
	padding: 32px 0 16px 0;
}

.browser-warning-content {
	width: 90%;
	text-align: center;
	line-height: 1.8;
	color: #888888;
	padding-bottom: 32px;
}














/* *************************************

	filter

**************************************** */

.filters {
	border-bottom: 1px solid var(--aug-color);
}

.filters h2 {
	padding: 0 0 24px 0;
}

.filters .row>div {
	padding: 12px;
}

.filters select {
	width: 100%;
	height: 60px;
	padding: 8px 12px;
	font-size: 16px;
	border: 1px solid var(--aug-color);
	border-radius: 6px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.filters .row > div::after {
	content: "";
  width: 10px;
  height: 5px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath d='M5.31787 4.81787C5.07373 5.06201 4.67725 5.06201 4.43311 4.81787L0.683105 1.06787C0.438965 0.82373 0.438965 0.427246 0.683105 0.183105C0.927246 -0.0610351 1.32373 -0.0610351 1.56787 0.183105L4.87647 3.4917L8.18506 0.185059C8.4292 -0.0590821 8.82568 -0.0590821 9.06982 0.185059C9.31396 0.429199 9.31396 0.825683 9.06982 1.06982L5.31982 4.81982L5.31787 4.81787Z' fill='%232D2D2D'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
	position: absolute;
	top: 50%;
	right: 32px;
	transform: translateY(-50%);
}

/* *************************************
	zone-filters
**************************************** */
.filtered-candidate-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	padding: 24px 12px 0 12px;
}

.filtered-candidate-container .candidate {
	background-color: #fff;
	padding: 24px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;
}

.filtered-candidate-container.safe .candidate {
	background-color: #ffffff00;
}

.candidate-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
}

.candidate-container-row{
	display: flex;
	align-items: center;
	padding: 16px 0;
}

.candidate-action {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 8px;
}

.candidate-container p {
	color: #888888;
	font-size: 12px;
	text-align: center;
	margin: 0;
}

.candidate-container .recall-stage-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 380px;
	width: 100%;
	gap: 32px;
}

.candidate-container .recall-stage-flow {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.candidate-container .recall-stage-failed-flow {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.candidate-container .recall-stage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0.4;
	margin: 0 0;
}

.candidate-container .recall-stage.active {
	opacity: 1;
}

.candidate-container .recall-stage {
	color: #2d2d2d;
	font-size: 16px;
}

.candidate-container .recall-stage span {
	font-size: 14px;
	font-weight: 300;
}

.filtered-candidate-container .icon-text {
	color: var(--pri-color);
	font-size: 40px;
	margin: -6px;
}

.tag-stage {
	padding: 2px 8px 2px 8px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 300;
}

.tag-stage.stage-1 {
	background: #e5e5e5;
	color: #2d2d2d;
}

.tag-stage.stage-2 {
	background: #8ff8cf;
	color: #2d2d2d;
}

.tag-stage.stage-3 {
	background: #08d284;
	color: #ffffff;
}

.municipalities {
	display: flex;
	flex-direction: column;
	padding: 0 16px 32px 16px;
	gap: 24px;
	margin-bottom: 32px;
}

.municipalities ul {
	display: none;
	flex-direction: column;
	gap: 24px;
}

.municipalities ul button {
	font-weight: 300;
}

.municipalities li {
	border-bottom: 1px solid #e5e5e5;
	padding: 0 16px;
}

.municipalities .header {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-bottom: 16px;
}

.municipalities .header .description {
	color: #888888;
	font-size: 14px;
	text-align: center;
}

.thank-you-header {
	color: #ffffff;
}

.thank-you-header .header-description {
	font-weight: 700;
	font-size: 16px;
}

.flow-failed {
	flex-direction: column;
}

.candidate.recall-failed,
.recall-failed .candidate-container-row {
	opacity: 0.4;
}

.pep-talk {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 32px 64px auto 64px;
	gap: 16px;
}

.header-authorization-letter {
	text-align: center;
	font-size: 24px;
	padding: 24px 16px;
}

.authorization-letter {
	background-color: #f4f5f5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 24px;
	border-radius: 12px;
	width: 90%;
	margin: 16px auto 64px auto;
}

.authorization-letter a {
	color: #888888;
	display: inline-block;
	word-break: break-all;
	max-width: 100%;
}

.authorization-letter p {
	font-size: 14px;
	font-weight: 400;
	margin: 0;
}

.section.authorization-letter {
	padding: 24px;
}

.authorization-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 8px;
	width: 100%;
  overflow-wrap: break-word;
}

.authorization-section h2 {
	font-size: 16px;
	text-align: start;
}

.authorization-content {
	font-size: 14px;
	font-weight: 400;
	color: #888888;
}

.authorization-signature {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 24px;
	width: 100%;
}

.signature-team {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 2px;
}

.team-taiwandreamer {
	font-size: 12px;
	font-weight: 400;
	color: #427f56;
}

.icon-cross {
  display: inline-block;
  width: 9px;
  height: 10px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="10" viewBox="0 0 9 10" fill="none"><path d="M0.766317 9.06693L0.432983 8.73359L4.16632 5.00026L0.432983 1.26693L0.766317 0.933594L4.49965 4.66693L8.23298 0.933594L8.56632 1.26693L4.83298 5.00026L8.56632 8.73359L8.23298 9.06693L4.49965 5.33359L0.766317 9.06693Z" fill="%23888888"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
