body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}
h1 {
	text-align: center;
}
.section h2 {
	text-align: left;
	padding-left: 16px;
}
.section h3 {
	text-align: left;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 16px;
	box-sizing: border-box;
}
.banner {
	position: relative;
	width: 100%;
	aspect-ratio: 16 / 9;
	overflow: hidden;
}
.banner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.section {
	padding: 16px;
}
.recall {
	background-color: #ffffff;
}
.policy {
	background-color: #d4d4d4;
}
.policy li {
	padding: 8px;
}
.sponsor {
	background-color: #d9f7be;
}
.fill-form {
	background-color: #c3ddff;
}
.notification {
	background-color: #f2d1e8;
}
.notification li {
	padding: 8px;
}
@media (max-width: 768px) {
	.container {
		padding: 0;
	}
}
.collapsible-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.collapsible-list li {
	margin: 8px 0;
	border-radius: 8px;
	overflow: hidden;
	background-color: #f9f9f9;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: calc(100% - 32px);
	margin-left: auto;
	margin-right: auto;
}
.collapsible-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 16px;
	cursor: pointer;
	background-color: #eaf4ff;
	color: #333;
	font-weight: bold;
}
.collapsible-header .arrow {
	border: solid #333;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 4px;
	transform: rotate(45deg);
	transition: transform 0.3s;
}
.collapsible-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
	padding: 0 16px;
	background-color: #ffffff;
}
.collapsible-content ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.candidate-list li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 16px;
	border-bottom: 1px solid #ccc;
}
.candidate-list li:last-child {
	border-bottom: none;
}
.candidate-name {
	flex: 1;
	text-align: left;
	padding-right: 8px;
}
.candidate-action {
	flex: 0 0 auto;
}
.candidate-action button {
	width: auto;
	height: auto;
	padding: 8px;
	background-color: #007BFF;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
}
.candidate-action button:hover {
	background-color: #0056b3;
}
.bank-account {
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 16px;
	margin-top: 16px;
}
.post-action {
  display: flex;
  justify-content: center;
}
.post-action button {
	width: auto;
	height: auto;
	padding: 12px;
	background-color: #007BFF;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 18px;
}
.post-action button:hover {
	background-color: #0056b3;
}
