<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	{{ template "common-head" . }}
	<title>OurTaiwan 委託代理聲明</title>
	<meta name="description" property="og:description" content="OurTaiwan 委託廖國翔律師為本團隊、及本團隊開發營運之應用服務的代理人。">
</head>
<body>
	<div class="section nav" style="padding-left:16px;">
		<a class="authorization-goback" href="{{.BaseURL}}"><i class="icon-goback"></i><div style="color:#2d2d2d;">回首頁</div></a>
	</div>
	<div class="section">
		<h1 class="header-authorization-letter">OurTaiwan 委託代理聲明</h1>
	</div>
	<div class="section authorization-letter">
		<p>OurTaiwan (以下簡稱本團隊) 委託廖國翔律師為本團隊、及本團隊開發營運之應用服務的代理人</p>
		<div class="authorization-section">
			<h2>一、委託有效時間</h2>
			<div class="authorization-content">
				於 2025 年 2 月 23 日起，至全臺灣指定選區罷免活動與補選全數結束時止。
			</div>
		</div>
		<div class="authorization-section">
			<h2>二、委託應用服務</h2>
			<div class="authorization-content">
				應用服務網址：<a href="https://recall2025.ourtaiwan.tw/" target="_blank">https://recall2025.ourtaiwan.tw/</a> (以下簡稱本服務)
			</div>
			<div class="authorization-content">
				感謝熱心網友 <a href="https://www.threads.net/@hsiehchinfan" target="_blank">Hsieh Chin Fan</a> 替我們另外申請了好記的網址 <a href="https://babababa.tw/" target="_blank">https://babababa.tw/</a>，於轉址至本服務期間同為應用服務範圍。
			</div>
		</div>
		<div class="authorization-section">
			<h2>三、委託範圍</h2>
			<div class="authorization-content">
				本團隊授權代理人：
				<ol>
					<li>代表本團隊發佈各式聲明</li>
					<li>
						代表本團隊針對各類訊息的接收與回應，包括但不限於：
						<ol class="alpha-list">
							<li>本團隊可信性釋疑</li>
							<li>本服務內所有功能與呈現資訊之適法性釋疑</li>
							<li>本服務使用方法與注意事項</li>
						</ol>
					</li>
					<li>各選區公民團體之協助、協作議題的資訊彙整與回應</li>
				</ol>
			</div>
			<div class="authorization-content">
				為減少代理人作業負擔，若為本服務之流程與使用問題，如：應用服務各類異常、或者功能更新建議等，請直接來信團隊電子信箱 <a href="mailto:imtaiwanese18741130@gmail.com" target="_blank">imtaiwanese18741130@gmail.com</a>
			</div>
		</div>
		<div class="authorization-section">
			<h2>四、訊息發佈媒體</h2>
			<div class="authorization-content">
				本團隊授權代理人資訊發佈之媒體，為代理人擁有管理權之所有媒體。包括但不限於：
				<ol>
					<li>Facebook: <a href="https://www.facebook.com/taiwandreamer2024" target="_blank">https://www.facebook.com/taiwandreamer2024</a></li>
					<li>YouTube: <a href="https://www.youtube.com/@taiwan-dreamer" target="_blank">https://www.youtube.com/@taiwan-dreamer</a></li>
					<li>Threads: <a href="https://www.threads.net/@taiwandreamer" target="_blank">https://www.threads.net/@taiwandreamer</a></li>
					<li>Spotify: <a href="https://open.spotify.com/show/5jM2ympI3FUndWQQwduBH7" target="_blank">https://open.spotify.com/show/5jM2ympI3FUndWQQwduBH7</a></li>
				</ol>
			</div>
		</div>
		<div class="authorization-section">
			<h2>五、感謝</h2>
			<div class="authorization-content">
				由衷感謝廖國翔律師一直以來的支持與協助，並且願意擔任本團隊與應用服務的代理人，讓本團隊能專注於提供更完整的服務。
			</div>
		</div>
		<div class="authorization-section">
			<div class="authorization-signature">
				<div class="signature-team team-ourtaiwan">
					<img src="{{.BaseURL}}/assets/images/logo-ourtaiwan.png">
				</div>
				<i class="icon-cross"></i>
				<div class="signature-team team-taiwandreamer">
					<img src="{{.BaseURL}}/assets/images/logo-taiwandreamer.png">
					TaiwanDreamer
				</div>
			</div>
		</div>
	</div>
</body>
</html>
