<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Topic}}</title>
	<meta name="description" content="{{.Topic}}">
	<link rel="stylesheet" href="{{.BaseURL}}/assets/css/style.css?v0.0.35">
	<link rel="stylesheet" href="{{.BaseURL}}/assets/css/floating-btn.css?v0.0.0">
	<link rel="stylesheet" href="{{.BaseURL}}/assets/css/fill-form.css?v0.0.0">
  <script src="{{.BaseURL}}/assets/js/float-btn.js?v0.0.6"></script>
	<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>
<body>
  <div class="container">
		<h1>{{.Topic}}</h1>
		<div class="section fill-form">
			{{if eq .Stage "stage-1"}}
    	<h2 style="text-align:center;">第一階段罷免連署</h2>
			{{else if eq .Stage "stage-2"}}
    	<h2 style="text-align:center;">第二階段罷免連署</h2>
			{{end}}
			<form action="{{.BaseURL}}/{{.Stage}}/{{.Zone}}/preview" method="post" onsubmit="combineBirthDate()">
    	  <div class="form-group">
    	    <label for="name">姓名：</label>
    	    <input type="text" id="name" name="name" required>
    	  </div>
    	  <div class="form-group">
    	    <label for="id-number">身分證字號：</label>
    	    <input type="text" id="id-number" name="id-number" required pattern="^[A-Z][1-2]\d{8}$" title="請輸入您的身分證字號">
    	  </div>
    	  <div class="form-group birth-date">
    	    <label>出生日期：</label>
    	    <input type="number" id="birth-year" placeholder="年 (民國)" min="1" max="94" required>
    	    <input type="number" id="birth-month" placeholder="月" min="1" max="12" required>
    	    <input type="number" id="birth-day" placeholder="日" min="1" max="31" required>
    	    <input type="hidden" id="birth-date" name="birth-date">
    	  </div>
    	  <div class="form-group">
    	    <label for="address">戶籍地址：</label>
    	    <input type="text" id="address" name="address" value="{{.AddressPrefix}}" required>
    	  </div>
    	  <div class="form-group">
    	    <label for="mobile-number">手機號碼：</label>
    	    <input type="tel" id="mobile-number" name="mobile-number" required pattern="^09\d{8}$">
    	  </div>
				<div class="cf-turnstile" data-sitekey="{{.TurnstileSiteKey}}"></div>
    	  <button type="submit" class="submit-button">製作連署書</button>
    	</form>
		</div>

    <div class="section post-action">
			<a href="{{.BaseURL}}/"><button>回到首頁</button></a>
		</div>
  </div>
  <script>
    function combineBirthDate() {
      const year = document.getElementById('birth-year').value;
      const month = document.getElementById('birth-month').value;
      const day = document.getElementById('birth-day').value;
      const westernYear = parseInt(year) + 1911;
      const birthDate = `${westernYear}-${String(month).padStart(2, '0')}-${String(day).padStart(2, '0')}`;
      document.getElementById('birth-date').value = birthDate;
    }
  </script>
	<div class="floating-btn-container">
		<button class="floating-btn" onclick="copyLink()">複製網址</button>
	</div>
	<div id="popout" class="hidden">網址已成功複製！</div>
</body>
</html>
