<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>阻止失能暴衝的立院, 我們需要你！</title>
	<meta name="description" content="{{.Topic}}">
	<link rel="stylesheet" href="{{.BaseURL}}/assets/css/style.css?v0.0.148">
  <script src="{{.BaseURL}}/assets/js/common.js?v0.0.17"></script>
	<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>
<body>
	<div class="browser-warning-container" id="browser-warning-container">
		<div class="browser-waring-title">
			您使用的瀏覽器無法下載連署書
		</div>
		<div class="browser-warning-content">
			您正以通訊軟體瀏覽器開啟本網站，該瀏覽器無法將你填完的罷免連署書下載至您的裝置。請於右上或右下功能按鈕，點選「以預設 (外部) 瀏覽器開啟」，<br>
			或<a class="hyperlink-style" onclick="copyCurrentLink()">複製連結<div class="copy-icon"></div></a>後至其他瀏覽器開啟。
		</div>
	</div>
  <div class="banner">
		<div class="section">
			<a class="goback" href="{{.BaseURL}}">
				<div class="goback-icon"></div>&nbsp;<div style="color:#ffffff;">罷免其他立委</div>
			</a>
    	<h1 style="font-size:32px; color:#ffffff;">我是{{.ZoneName}}選民<br>我要罷免<span class="primary">『{{.CandidateName}}』</span></h1>
    	<div class="content-text">{{.ZoneName}} ({{.Districts}})<br><br>提醒您！本網站不保留您填入的任何資料，資料也於傳輸前加密，請安心使用。</div>
		</div>
  </div>
	<div class="section fill-form">
		<h2>請拿出國民身分證填寫以下資訊</h2>
		<form action="{{.BaseURL}}/{{.Stage}}/{{.ZoneCode}}/preview" id="recall-form" method="post" onsubmit="combineBirthDate()">
  	  <div class="form-group">
  	    <label for="name">姓名</label>
				<div class="input-group">
  	    	<input type="text" id="name" name="name" required>
				</div>
  	  </div>
  	  <div class="form-group">
  	    <label for="id-number">身分證字號</label>
				<div class="input-group">
  	    	<input type="text" id="id-number" name="id-number" pattern="^[A-Z][1-2]\d{8}$" required>
  	  	</div>
  	  </div>
  	  <div class="form-group birth-date">
  	    <label>出生年月日</label>
				<div class="input-group">
					<input type="date" name="birth-date" max="{{.MaxBirthDate}}" required>
				</div>
				<div class="form-comment">系統將自動轉換西元出生年月日至民國</div>
  	  </div>
  	  <div class="form-group">
  	    <label for="mobile-number">手機號碼</label>
				<div class="input-group">
  	    	<input type="tel" id="mobile-number" name="mobile-number" required pattern="^09\d{8}$">
  	  	</div>
				<div class="form-comment">僅用於輸出在連署書上，若公民團體檢查時發現填寫有誤、或時至第二階段連署時方便與您聯繫。<b>本網站不保留您的手機號碼</b>。若您的選區連署書上無手機號碼欄位，則不會輸出。</div>
  	  </div>
  	  <div class="form-group">
  	    <label for="address">戶籍地址</label>
				<div class="input-group">
  	    	<input type="text" id="address" name="address" value="{{.AddressPrefix}}" required>
  	  	</div>
				<div class="form-comment">
					請完全按照您國民身分證上<b>住址</b>欄位，<b>完全對照填寫</b>。特別留意以下情況：
					<ul>
						<li>
							<div class="cw-sample-container"><div class="cw-icon correct"></div><div style="width:60px;">臺北</div><div class="cw-icon wrong"></div>台北<div>
						</li>
						<li>
							<div class="cw-sample-container"><div class="cw-icon correct"></div><div style="width:60px;">二段</div><div class="cw-icon wrong"></div>2 段<div>
						</li>
						<li>
							<div class="cw-sample-container"><div class="cw-icon correct"></div><div style="width:60px;">十二樓</div><div class="cw-icon wrong"></div>12 樓<div>
						</li>
					</ul>
				</div>
  	  </div>
			<div class="form-group">
  	    <label for="turnstile">人機驗證</label>
				<div class="input-group">
					<div class="cf-turnstile" data-sitekey="{{.TurnstileSiteKey}}" data-theme="light"></div>
				</div>
			</div>
  	  <div class="form-group">
				<div class="input-group">
  	  		<button type="submit" class="wide-btn-primary" style="margin-bottom:-16px;">製作連署書</button>
  	  	</div>
  	  </div>
  	</form>
		<div class="form-group">
			<div class="input-group">
				<button class="wide-btn-secondary" onclick="copyCurrentLink()">複製連結分享給親友</button>
			</div>
		</div>
	</div>

	<div id="popout" class="hidden">已複製到剪貼簿</div>
	<script>
    const form = document.getElementById("recall-form");
    const idInput = document.getElementById("id-number");
		idInput.addEventListener("input", () => {
			idInput.setCustomValidity("");
		});

		form.addEventListener("submit", (event) => {
      const idValue = idInput.value;
      if (!isValidIdNumber(idValue)) {
        idInput.setCustomValidity("請輸入合法的身分證字號");
        idInput.reportValidity();
        event.preventDefault();
      }
    });

		(function() {
			const userAgent = navigator.userAgent || navigator.vendor || window.opera;
			const isLine = userAgent.toLowerCase().includes("line");
			const isMessenger = userAgent.toLowerCase().includes("fbav") || userAgent.toLowerCase().includes("messenger");
			const isWhatsApp = userAgent.toLowerCase().includes("whatsapp");
			const isWeChat = userAgent.toLowerCase().includes("micromessenger");

			if (isLine || isMessenger || isWhatsApp || isWeChat) {
				const warningElement = document.getElementById('browser-warning-container');
				warningElement.style.display = 'flex';
			}
		})();
	</script>
	
</body>
</html>
