<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
	{{ template "common-head" . }}
	<title>阻止失能暴衝的立院, 我們需要你！</title>
	<meta name="description" property="og:description"
		content="不討論就表決，邊撤案邊修正，毀壞憲政體制的立院你還看得下去嗎？你知道立法院過去兩個會期強推了多少危害國安、違憲、危害臺灣民主體制、危害民生經濟的法案嗎？身為民主社會的公民，我們應行使罷免權，讓不適任的立委下台！">
</head>

<body>
	<div class="banner">
		<div class="section">
			<h1 class="primary">阻止失能暴衝的立院, 我們需要你！</h1>
			<div class="content-text">不討論就表決，邊撤案邊修正，毀壞憲政體制的立院你還看得下去嗎？<br>你知道立法院過去兩個會期強推了多少危害國安、違憲、危害臺灣民主體制、危害民生經濟的法案嗎?
				身為民主社會的公民，我們應行使罷免權，讓不適任的立委下台！</div>
		</div>
	</div>
	<div class="section candidates mt-md  mt-sm-xs">
		<div class="zone-filters-container" id="constituency-filter">
			<div class="filters pb-sm">
				<h2>輸入戶籍地，<br>找出您有權罷免的立委</h2>
				<div class="row">
					<div class="col-6 col-xs-12">
						<select id="filter-municipalities">
							<option value="" disabled selected>縣市</option>
							{{range $m := .Municipalities}}
							{{if gt $m.Id 0}}
							<option value="{{$m.Id}}">{{$m.Name}}</option>
							{{end}}
							{{end}}
						</select>
					</div>
					<div class="col-6 col-xs-12">
						<select id="filter-districts" disabled>
							<option value="" disabled selected>行政區</option>
						</select>
					</div>
					<div class="col-12">
						<select id="filter-wards" disabled>
							<option value="" disabled selected>鄉里名</option>
						</select>
					</div>
				</div>
			</div>
			<div class="filtered-candidate-container" id="filtered-candidate-container">

			</div>
			<div class="filtered-candidate-container safe" id="share-container" style="display:none;">
				<div class="candidate-container">
					<div class="candidate">
						<div class="candidate-name">您的選區不在本次活動範圍</div>
						<div class="candidate-zone">但我們也需要您的力量，幫忙分享資訊讓更多人參與!</div>
					</div>
					<button class="btn-black lg w100" onclick="copyCurrentLink()">幫忙分享資訊!</button>
				</div>
			</div>
		</div>
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<h4><span class="icon-text"> campaign</span>提醒：連署兩階段，<span>連署書要簽2次</span></h4>
					<p>
						第1階段連署 <span>⮕</span> 第2階段連署 <span>⮕</span> 第3階段投票
						第一階段通過且第二階段開跑後，別忘了回來簽二階連署書喔!
					</p>
				</div>
				<div class="swiper-slide">
					<h4><span class="icon-text"> campaign</span>預告：部分選區第一階段送件，本網站將提供<span>第二階段連署書</span>製作</h4>
					<p>
						確認該選區通過第一階段後，本網站將提供第二階段用連署書，方便大家連署
					</p>
				</div>
				<div class="swiper-slide">
					<h4><span class="icon-text"> campaign</span>急！這些選區<span>第一階段尚未達標...</span></h4>
					<p>
						彰化謝衣鳳、彰化謝衣鳳、彰化謝衣鳳、彰化謝衣鳳、還有誰幫我補一下，第一階段尚未達標，請選民幫忙連署！
					</p>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>

		<h2 class="mt-lg">全台罷免對象一覽</h2>
		<div class="tag-container">
			{{range $a := .Areas }}
			<div class="tag-filter" data-city="{{$a.MunicipalityName}}">{{$a.MunicipalityName}}</div>
			{{end}}
		</div>
		<ul>
			{{range $a := .Areas }}
			<li class="city-row" data-city="{{$a.MunicipalityName}}">
				<div class="city-header">
					<div class="city-name">{{$a.MunicipalityName}}</div>
					<div class="arrow">▶</div>
				</div>
				<div class="city-content">
					<ul>
						{{range $rl := $a.RecallLegislators}}
						<li>
							<div class="candidate">
								<div class="candidate-name">{{$rl.PoliticianName}}<div
										class="tag-stage stage-{{.RecallStage}}">{{.RecallStage}} 階</div>
								</div>
								<div class="candidate-zone">{{$rl.ConstituencyName}}</div>
							</div>
							<div class="candidate-action">
								{{if $rl.FormDeployed}}
								<a href="#constituency-filter"><button class="btn-primary md w100">連署罷免</button></a>
								{{else}}
								<div style="color:#aaaaaa;">趕工中</div>
								{{end}}
							</div>
						</li>
						{{end}}
					</ul>
				</div>
			</li>
			{{end}}
		</ul>
	</div>

	{{ template "faq" }}
	{{ template "footer" }}
	<div id="popout" class="hidden">已複製到剪貼簿</div>
	<script>
		const baseURL = '{{.BaseURL}}';

		document.querySelectorAll('.city-row .city-header').forEach(header => {
			header.addEventListener('click', () => {
				const item = header.parentElement;
				const isExpanded = item.classList.contains('expanded');
				document.querySelectorAll('.city-row.expanded').forEach(openItem => {
					if (openItem !== item) {
						openItem.classList.remove('expanded');
						const arrow = openItem.querySelector('.arrow');
						arrow.classList.remove('collapsed');
					}
				});
				item.classList.toggle('expanded', !isExpanded);
				const arrow = header.querySelector('.arrow');
				arrow.classList.toggle('collapsed', !isExpanded);
			});
		});

		const filteredCandidateContainer = document.getElementById('filtered-candidate-container');
		const shareContainer = document.getElementById('share-container');

		async function sendAjaxRequest(municipality, district, ward) {
			let params = new URLSearchParams();

			if (municipality !== null && municipality !== undefined) {
				params.append("municipality", municipality);
			}
			if (district !== null && district !== undefined) {
				params.append("district", district);
			}
			if (ward !== null && ward !== undefined) {
				params.append("ward", ward);
			}

			let fullUrl = `${baseURL}/apis/constituencies?${params.toString()}`;

			try {
				let response = await fetch(fullUrl, { method: "GET" });

				if (!response.ok && response.status !== 404) {
					let error = new Error(`HTTP Error: ${response.status}`);
					error.status = response.status;
					throw error;
				}

				return await response.json();
			} catch (error) {
				throw error;
			}
		}

		document.addEventListener("DOMContentLoaded", () => {
			const municipalitiesSelect = document.getElementById("filter-municipalities");
			const districtsSelect = document.getElementById("filter-districts");
			const wardsSelect = document.getElementById("filter-wards");

			const resetSelect = (select) => {
				const defaultOption = select.querySelector('option[value=""]');
				select.disabled = true;
				select.innerHTML = "";
				if (defaultOption) {
					select.appendChild(defaultOption.cloneNode(true));
				}
			};

			const populateOptions = (select, divisions) => {
				divisions.forEach(division => {
					const elem = document.createElement("option");
					elem.value = division.id;
					elem.textContent = division.n;
					select.appendChild(elem);
				});
				select.disabled = false;
			};

			municipalitiesSelect.addEventListener("change", () => {
				filteredCandidateContainer.innerHTML = "";
				shareContainer.style.display = "none";
				resetSelect(districtsSelect);
				resetSelect(wardsSelect);

				sendAjaxRequest(municipalitiesSelect.value, null, null)
					.then(data => {
						if (!Object.hasOwn(data, "result")) {
							showShareContainer();
						} else if (Object.hasOwn(data.result, "divisions")) {
							populateOptions(districtsSelect, data.result.divisions);
						} else {
							console.error("invalid municipality");
						}
					})
					.catch(error => {
						console.error(error);
					});
			});

			districtsSelect.addEventListener("change", () => {
				filteredCandidateContainer.innerHTML = "";
				shareContainer.style.display = "none";
				resetSelect(wardsSelect);

				sendAjaxRequest(municipalitiesSelect.value, districtsSelect.value, null)
					.then(data => {
						if (!Object.hasOwn(data, "result")) {
							showShareContainer();
						} else if (Object.hasOwn(data.result, "divisions")) {
							populateOptions(wardsSelect, data.result.divisions);
						} else {
							console.error("invalid district");
						}
					})
					.catch(error => {
						console.error(error);
					});
			});

			wardsSelect.addEventListener("change", () => {
				filteredCandidateContainer.innerHTML = "";
				shareContainer.style.display = "none";
				sendAjaxRequest(municipalitiesSelect.value, districtsSelect.value, wardsSelect.value)
					.then(data => {
						if (!Object.hasOwn(data, "result")) {
							showShareContainer();
						} else if (Object.hasOwn(data.result, "legislators")) {
							const address = municipalitiesSelect.selectedOptions[0].text + districtsSelect.selectedOptions[0].text + wardsSelect.selectedOptions[0].text;
							showFilteredCandidateContainer(data.result.legislators, address);
						} else {
							console.error("invalid ward");
						}
					})
					.catch(error => {
						console.error(error);
					});
			});
		});

		function showFilteredCandidateContainer(legislators, address) {
			if (Array.isArray(legislators)) {
				legislators.forEach(legislator => {
					const candidateContainer = document.createElement("div");
					candidateContainer.classList.add("candidate-container");
					candidateContainer.innerHTML = `
						<div class="candidate">
							<div class="candidate-name">${legislator.politicianName}<div class="tag-stage stage-${legislator.recallStage}">${legislator.recallStage} 階</div></div>
							<div class="candidate-zone">${legislator.constituencyName}</div>
						</div>
						<div class="filter-stage-flow">
							<div class="filter-stage active">
								<p>第1階段</p>
								<h4>連署罷免</h4>
							</div>
							<div class="icon-text"> arrow_right</div>
							<div class="filter-stage">
								<p>第2階段</p>
								<h4>連署罷免</h4>
							</div>
							<div class="icon-text"> arrow_right</div>

							<div class="filter-stage">
								<p>第3階段</p>
								<h4>罷免投票</h4>
							</div>
						</div>
						<div class="candidate-action">
							<a href="${legislator.fillFormURL}?address=${address}"><button class="btn-primary lg w100">連署罷免</button></a>
						</div>`;
					filteredCandidateContainer.appendChild(candidateContainer);
				});

				filteredCandidateContainer.scrollIntoView({ behavior: "smooth" });
			}
		}

		function showShareContainer() {
			shareContainer.style.display = "block";
			shareContainer.scrollIntoView({ behavior: "smooth" });
		}


		// -------------------------------
		// Swiper container
		// -------------------------------

		new Swiper('.swiper', {
			slidesPerView: 1.2,  // 可見卡片數量
			spaceBetween: 10,    // 間距
			pagination: { el: ".swiper-pagination", clickable: true },
		});


		// -------------------------------
		// filter city tag
		// -------------------------------
		const selectedCities = new Set();
		const tags = document.querySelectorAll(".tag-filter");
		const cityRows = document.querySelectorAll(".city-row");

		tags.forEach(tag => {
			tag.addEventListener("click", function () {
				const city = this.getAttribute("data-city");

				if (this.classList.contains("active")) {
					this.classList.remove("active");
					selectedCities.delete(city);
				} else {
					this.classList.add("active");
					selectedCities.add(city);
				}
				updateFilter();
			});
		});

		function updateFilter() {
			if (selectedCities.size === 0) {
				cityRows.forEach(row => row.style.display = "block");
			} else {
				cityRows.forEach(row => {
					const city = row.getAttribute("data-city");
					row.style.display = selectedCities.has(city) ? "block" : "none";
				});
			}
		}
	</script>
</body>

</html>