<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
	{{ template "common-head" . }}
	<title>阻止失能暴衝的立院，我們需要你！</title>
	<meta name="description" property="og:description"
		content="不討論就表決，邊撤案邊修正，毀壞憲政體制的立院你還看得下去嗎？你知道立法院過去兩個會期強推了多少危害國安、違憲、危害臺灣民主體制、危害民生經濟的法案嗎？身為民主社會的公民，我們應行使罷免權，讓不適任的立委下台！">
</head>

<body>
	<div class="banner">
		<div class="section">
			<h1 class="primary">阻止失能暴衝的立院，<br>我們需要你！</h1>
			<div class="content-text">不討論就表決，邊撤案邊修正，毀壞憲政體制的立院你還看得下去嗎？<br>你知道立法院過去兩個會期強推了多少危害國安、違憲、危害臺灣民主體制、危害民生經濟的法案嗎?
				身為民主社會的公民，我們應行使罷免權，讓不適任的立委下台！</div>
		</div>
	</div>
	<div class="section candidates">
		<div class="filters pb-sm">
			<h2>輸入戶籍地，<br>找出您有權罷免的立委</h2>
			<div class="row">
				<div class="col-6 col-xs-12">
					<select id="filter-municipalities">
						<option value="" disabled selected>縣市</option>
						{{- range $m := .Municipalities}}
						{{- if gt $m.Id 0}}
						<option value="{{$m.Id}}">{{$m.Name}}</option>
						{{- end}}
						{{- end}}
					</select>
				</div>
				<div class="col-6 col-xs-12">
					<select id="filter-districts" disabled>
						<option value="" disabled selected>行政區</option>
					</select>
				</div>
				<div class="col-12">
					<select id="filter-wards" disabled>
						<option value="" disabled selected>鄉鎮村里</option>
					</select>
				</div>
			</div>
		</div>
		<div class="filtered-candidate-container" id="filtered-candidate-container" style="display:none;">
		</div>
		<div class="filtered-candidate-container safe" id="share-container" style="display:none;">
			<div class="candidate-container">
				<div class="candidate">
					<div class="candidate-name">您的選區不在本次活動範圍</div>
					<div class="candidate-zone">但我們也需要您的力量，幫忙分享資訊讓更多人參與！</div>
				</div>
				<button class="btn-black lg w100" onclick="copyCurrentLink()">幫忙分享資訊！</button>
			</div>
		</div>
	</div>

	<div class="section swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<h4><span class="icon-text">campaign</span>提醒：連署兩階段，<span>連署書要簽 2 次</span></h4>
				<p>第一階段連署 <span>⮕</span> 第二階段連署 <span>⮕</span> 第三階段投票。第二階段開跑後，別忘了回來簽二階連署書喔！</p>
			</div>
			<div class="swiper-slide">
				<h4><span class="icon-text">campaign</span>預告：本網站將提供<span>第二階段連署書</span>製作</h4>
				<p>確認該選區通過第一階段後，本網站將提供第二階段用連署書，方便大家連署。</p>
			</div>
			<div class="swiper-slide">
				<h4><span class="icon-text">campaign</span>急！這些選區<span>第一階段連署尚未達標</span>：</h4>
				<p>苗栗縣陳超明、苗栗縣邱鎮軍、金門縣陳玉珍、連江縣陳雪生等，第一階段尚未達標，請選民幫忙連署！</p>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>

	<div class="section municipalities">
		<div class="header">
			<h2 class="mt-lg">全臺罷免活動一覽</h2>
			<div class="description">
				本團隊將於各選區二階段通過、投票時間確定後，將罷免的投票時間寫入行事曆。若罷免成功進入補選，我們也會以相同的方式將補選時間寫入。除填寫連署書外，也請加入罷免投票行事曆，以免錯過後續最重要的投票階段！
			</div>
		</div>
		<div class="municipality-tag-container">
			{{- range $a := .Areas }}
			<div class="municipality-tag {{if eq $a.MunicipalityId 1}}active{{end}}" data-city="{{$a.MunicipalityId}}" onclick="toggleCityList('{{$a.MunicipalityId}}');">
				{{$a.MunicipalityName}}
			</div>
			{{- end}}
		</div>
		{{- range $a := .Areas }}
		<ul data-city="{{$a.MunicipalityId}}" style="{{if eq $a.MunicipalityId 1}}display:flex;{{end}}">
			{{- range $rl := $a.RecallLegislators}}
			<li>
				<div class="candidate-container-row">
					<div class="candidate">
						<div class="candidate-name">{{$rl.PoliticianName}}<div class="tag-stage stage-{{.RecallStage}}">{{.RecallStage}} 階</div>
						</div>
						<div class="candidate-zone">{{$rl.ConstituencyName}}</div>
					</div>
					<div class="candidate-action">
						{{- if lt $rl.RecallStage 3}}
							{{- if $rl.FormDeployed}}
							<a href="{{$rl.FillFormURL}}?address={{$a.MunicipalityName}}"><button class="btn-primary md w100">連署罷免</button></a>
							{{- else}}
							<button class="btn-primary md w100" disabled>趕工中</button>
							{{- end}}
						{{- end}}
						<a href="{{$rl.CalendarURL}}" target="_blank"><button class="btn-secondary md w100">+ 投票行事曆</button></a>
					</div>
				</div>
			</li>
			{{- end}}
		</ul>
		{{- end}}
	</div>

	{{ template "faq" }}
	{{ template "footer" }}
	<div id="popout" class="hidden">已複製到剪貼簿</div>
	<script>
		const baseURL = '{{.BaseURL}}';
		const filteredCandidateContainer = document.getElementById('filtered-candidate-container');
		const shareContainer = document.getElementById('share-container');

		async function sendAjaxRequest(municipality, district, ward) {
			let params = new URLSearchParams();

			if (municipality !== null && municipality !== undefined) {
				params.append("municipality", municipality);
			}
			if (district !== null && district !== undefined) {
				params.append("district", district);
			}
			if (ward !== null && ward !== undefined) {
				params.append("ward", ward);
			}

			let fullUrl = `${baseURL}/apis/constituencies?${params.toString()}`;

			try {
				let response = await fetch(fullUrl, { method: "GET" });

				if (!response.ok && response.status !== 404) {
					let error = new Error(`HTTP Error: ${response.status}`);
					error.status = response.status;
					throw error;
				}

				return await response.json();
			} catch (error) {
				throw error;
			}
		}

		document.addEventListener("DOMContentLoaded", () => {
			const municipalitiesSelect = document.getElementById("filter-municipalities");
			const districtsSelect = document.getElementById("filter-districts");
			const wardsSelect = document.getElementById("filter-wards");

			const resetSelect = (select) => {
				const defaultOption = select.querySelector('option[value=""]');
				select.disabled = true;
				select.innerHTML = "";
				if (defaultOption) {
					select.appendChild(defaultOption.cloneNode(true));
				}
			};

			const populateOptions = (select, divisions) => {
				divisions.forEach(division => {
					const elem = document.createElement("option");
					elem.value = division.id;
					elem.textContent = division.n;
					select.appendChild(elem);
				});
				select.disabled = false;
			};

			municipalitiesSelect.addEventListener("change", () => {
				filteredCandidateContainer.innerHTML = "";
				shareContainer.style.display = "none";
				resetSelect(districtsSelect);
				resetSelect(wardsSelect);

				sendAjaxRequest(municipalitiesSelect.value, null, null)
					.then(data => {
						if (!Object.hasOwn(data, "result")) {
							showShareContainer();
						} else if (Object.hasOwn(data.result, "divisions")) {
							populateOptions(districtsSelect, data.result.divisions);
						} else {
							console.error("invalid municipality");
						}
					})
					.catch(error => {
						console.error(error);
					});
			});

			districtsSelect.addEventListener("change", () => {
				filteredCandidateContainer.innerHTML = "";
				shareContainer.style.display = "none";
				resetSelect(wardsSelect);

				sendAjaxRequest(municipalitiesSelect.value, districtsSelect.value, null)
					.then(data => {
						if (!Object.hasOwn(data, "result")) {
							showShareContainer();
						} else if (Object.hasOwn(data.result, "divisions")) {
							populateOptions(wardsSelect, data.result.divisions);
						} else {
							console.error("invalid district");
						}
					})
					.catch(error => {
						console.error(error);
					});
			});

			wardsSelect.addEventListener("change", () => {
				filteredCandidateContainer.innerHTML = "";
				shareContainer.style.display = "none";
				sendAjaxRequest(municipalitiesSelect.value, districtsSelect.value, wardsSelect.value)
					.then(data => {
						if (!Object.hasOwn(data, "result")) {
							showShareContainer();
						} else if (Object.hasOwn(data.result, "legislators")) {
							const address = municipalitiesSelect.selectedOptions[0].text + districtsSelect.selectedOptions[0].text + wardsSelect.selectedOptions[0].text;
							showFilteredCandidateContainer(data.result.legislators, address);
						} else {
							console.error("invalid ward");
						}
					})
					.catch(error => {
						console.error(error);
					});
			});
		});

		function showFilteredCandidateContainer(legislators, address) {
			if (Array.isArray(legislators)) {
				legislators.forEach(legislator => {
					const candidateContainer = document.createElement("div");
					candidateContainer.classList.add("candidate-container");
					
					let recallStages = [1, 2, 3].map(stage => `
						<h4 class="recall-stage ${stage === legislator.recallStage ? 'active' : ''}">
							<span>第 ${stage} 階段</span>${stage === 3 ? "罷免投票" : "連署罷免"}
						</h4>
						${stage < 3 ? '<span class="icon-step-arrow"></span>' : ''}
					`).join('');

					candidateContainer.innerHTML = `
						<div class="candidate">
							<div class="candidate-name">${legislator.politicianName}</div>
							<div class="candidate-zone">${legislator.constituencyName}</div>
						</div>
						<div class="recall-stage-container">
							<div class="recall-stage-flow">
								${recallStages}
							</div>
							<div class="candidate-action">
								${legislator.formDeployed
									? `<a href="${legislator.fillFormURL}?address=${address}"><button class="btn-primary lg w100">連署罷免</button></a>`
									: `<button class="btn-primary lg w100" disabled>趕工中</button>`}
							</div>
						</div>
						<p>罷免需經兩個階段連署，兩個階段都通過後才進行選民投票決定罷免結果。請大家務必三個階段都完整參與！</p>
					`;
					filteredCandidateContainer.appendChild(candidateContainer);
				});
				filteredCandidateContainer.style.display = "flex";
				filteredCandidateContainer.scrollIntoView({ behavior: "smooth" });
			}
		}

		function showShareContainer() {
			shareContainer.style.display = "block";
			shareContainer.scrollIntoView({ behavior: "smooth" });
		}

		new Swiper('.swiper', {
			slidesPerView: 1.2,
			spaceBetween: 10,
			pagination: { el: ".swiper-pagination", clickable: true },
			autoplay: {
				delay: 3000,
				disableOnInteraction: false
			},
			loop: true
		});

		const municipalityLists = document.querySelectorAll(".municipalities ul");
		const municipalityTags = document.querySelectorAll(".municipality-tag");

		function toggleCityList(cityId) {
			const targetUl = document.querySelector(`ul[data-city="${cityId}"]`);
			const targetTag = document.querySelector(`.municipality-tag[data-city="${cityId}"]`);

			if (targetUl && targetUl.style.display === "flex") {
				return;
			}

			municipalityLists.forEach(ul => (ul.style.display = "none"));

			municipalityTags.forEach(tag => tag.classList.remove("active"));

			if (targetUl) {
				targetUl.style.display = "flex";
			}

			if (targetTag) {
				targetTag.classList.add("active");
			}

			targetUl.scrollIntoView({ behavior: "smooth" });
		}

	</script>
</body>

</html>
