<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
	<script src="{{.BaseURL}}/assets/js/home.js?v0.0.10" defer></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
	{{ template "common-head" . }}
	<title>守護我們珍愛的臺灣，我們需要你！</title>
	<meta name="description" property="og:description" content="臺灣是個溫暖內斂、豐富多元的土地。曾幾何時，我們有了這些蠻橫無理的公僕：霸凌助理、欺壓醫護人員、護航虐童兇手、聲援武統言論、粗暴地將年近八旬的老師架離會場… 我們是臺灣人，溫柔而堅毅。每個犧牲休息、日曬雨淋的志工，每張細心撰寫的連署書，是守護這塊土地，溫柔而又堅定的行動。無論你在哪裡，我們需要你的加入，一起守護臺灣。">
</head>
<body>
	<div class="banner image" style="background-image:url('{{.BaseURL}}/assets/images/banner.png');">
		<div class="section nav">
			<div class="logo"><img src="{{.BaseURL}}/assets/images/logo-ourtaiwan.png"></div>
		</div>
		<div class="section">
			<h1 class="primary">守護我們珍愛的臺灣，<br>我們需要你！</h1>
			<div class="content-text">臺灣是個溫暖內斂、豐富多元的土地。<br>曾幾何時，我們有了這些蠻橫無理的公僕：霸凌助理、欺壓醫護人員、護航虐童兇手、聲援武統言論、粗暴地將年近八旬的老師架離會場…<br><br>我們是臺灣人，溫柔而堅毅。<br>每個犧牲休息、日曬雨淋的志工，每張細心撰寫的連署書，是守護這塊土地，溫柔而又堅定的行動。無論你在哪裡，我們需要你的加入，一起守護臺灣。</div>
		</div>
	</div>
	<div class="section candidates">
		<div class="filters pb-sm">
			<h2>輸入戶籍地，<br>找出您有權罷免的立委</h2>
			<div class="row">
				<div class="col-6 col-xs-12">
					<select id="filter-municipalities">
						<option value="" disabled selected>縣市</option>
						{{- range $m := .Municipalities}}
						{{- if gt $m.Id 0}}
						<option value="{{$m.Id}}">{{$m.Name}}</option>
						{{- end}}
						{{- end}}
					</select>
				</div>
				<div class="col-6 col-xs-12">
					<select id="filter-districts" disabled>
						<option value="" disabled selected>行政區</option>
					</select>
				</div>
				<div class="col-12">
					<select id="filter-wards" disabled>
						<option value="" disabled selected>鄉鎮村里</option>
					</select>
				</div>
			</div>
		</div>
		<div class="filtered-candidate-container" id="filtered-candidate-container" style="display:none;">
		</div>
		<div class="filtered-candidate-container safe" id="share-container" style="display:none;">
			<div class="candidate-container">
				<div class="candidate">
					<div class="candidate-name">您的選區不在本次活動範圍</div>
					<div class="candidate-zone">但我們也需要您的力量，幫忙分享資訊讓更多人參與！</div>
				</div>
				<button class="btn-black lg w100" onclick="shareCurrentLink('臺灣是個溫暖內斂、豐富多元的土地。\n\n但曾幾何時，我們有了這些蠻橫無理的公僕：霸凌助理、霸凌醫護人員、護航虐童兇手、聲援武統言論、粗暴地將年近八旬的老師架離會場… \n\n我們是臺灣人，溫柔而堅毅。\n\n每個犧牲休息、吹風淋雨的志工，每張細心撰寫的連署書，都是為了守護這塊土地，溫柔而又堅定的行動。\n\n無論你在哪裡，我們需要你的加入，一起守護臺灣。\n\n')"><i class="icon-link"></i>幫忙分享資訊！</button>
			</div>
		</div>
	</div>

	<div class="section swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<h4><i class="icon-notify"></i>提醒：連署兩階段，<span>連署書要簽 2 次</span></h4>
				<p>第一階段連署 <span>⮕</span> 第二階段連署 <span>⮕</span> 第三階段投票。第二階段開跑後，別忘了回來簽二階連署書喔！</p>
			</div>
			<div class="swiper-slide">
				<h4><i class="icon-notify"></i>預告：本網站將於中選會公佈第二階段格式後，提供<span>第二階段連署書</span>製作</h4>
				<p>確認該選區通過第一階段後，本網站將提供第二階段用連署書，方便大家連署。</p>
			</div>
			<div class="swiper-slide">
				<h4><i class="icon-notify"></i>提醒：<span>訂閱 Google 行事曆</span>追蹤罷免投票時程</h4>
				<p>填寫連署書外，也請加入罷免投票行事曆，以免錯過後續最重要的投票階段！</p>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>

	<div class="section municipalities">
		<div class="header">
			<h2 class="mt-lg">全臺罷免活動一覽</h2>
			<div class="description">
			填寫連署書外，也請加入罷免投票行事曆，<br>以免錯過後續最重要的投票階段！
			</div>
		</div>
		<div class="municipality-tag-container">
			{{- range $a := .Areas }}
			<div class="municipality-tag {{if eq $a.MunicipalityId 1}}active{{end}}" data-city="{{$a.MunicipalityId}}" onclick="toggleCityList('{{$a.MunicipalityId}}');">
				<i class="icon-checked {{if eq $a.MunicipalityId 1}}active{{end}}"></i>{{$a.MunicipalityName}}
			</div>
			{{- end}}
		</div>
		{{- range $a := .Areas }}
		<ul data-city="{{$a.MunicipalityId}}" style="{{if eq $a.MunicipalityId 1}}display:flex;{{end}}">
			{{- range $rl := $a.RecallLegislators}}
			<li class="{{- if eq $rl.RecallStatus "ABORTED"}}recall-failed{{- else if eq $rl.RecallStatus "FAILED"}}recall-failed{{- end}}">
				<div class="candidate-container-row">
					<div class="candidate">
						<div class="candidate-name">{{$rl.PoliticianName}}<div class="tag-stage stage-{{.RecallStage}}">{{.RecallStage}} 階</div>
						</div>
						<div class="candidate-zone">{{$rl.ConstituencyName}}</div>
					</div>
					<div class="candidate-action">
						{{- if eq $rl.RecallStatus "ABORTED"}}
							<span class="lg fw400">連署未送件</span>
						{{- else if eq $rl.RecallStatus "FAILED"}}
							<span class="lg fw400">連署未通過</span>
						{{- else}}
							{{- if lt $rl.RecallStage 3}}
								{{- if $rl.FormDeployed}}
								<a href="{{$rl.ParticipateURL}}"><button class="btn-primary md w100 fw700">連署罷免</button></a>
								{{- else}}
								<button class="btn-primary md w100" disabled>{{$rl.RecallStage}} 階準備中</button>
								{{- end}}
							{{- end}}
							<button class="btn-secondary md w100" data-url="{{$rl.CalendarURL}}" data-has-maintainer="{{if $rl.HasCalendarMaintainer}}true{{else}}false{{end}}">+ 罷免行事曆</button>
						{{- end}}
					</div>
				</div>
			</li>
			{{- end}}
		</ul>
		{{- end}}
		<div class="pep-talk" style="display:none;">
			<div><i class="icon-notify"></i><strong>您的選區連署未通過嗎？</strong>別灰心，我們還是需要您的力量，支持其他選區進行中的罷免活動，幫忙分享資訊！</div>
			<button class="btn-black lg" onclick="shareCurrentLink('臺灣是個溫暖內斂、豐富多元的土地。\n\n但曾幾何時，我們有了這些蠻橫無理的公僕：霸凌助理、霸凌醫護人員、護航虐童兇手、聲援武統言論、粗暴地將年近八旬的老師架離會場… \n\n我們是臺灣人，溫柔而堅毅。\n\n每個犧牲休息、吹風淋雨的志工，每張細心撰寫的連署書，都是為了守護這塊土地，溫柔而又堅定的行動。\n\n無論你在哪裡，我們需要你的加入，一起守護臺灣。\n\n')"><i class="icon-link"></i>分享</button>
		</div>
	</div>
	{{ template "faq" }}
	{{ template "footer" . }}
	{{ template "dialog" }}
	{{ template "mask" }}
	<div id="popout" class="hidden">已複製到剪貼簿</div>
	<script>
		const baseURL = '{{.BaseURL}}';
	
		document.addEventListener("DOMContentLoaded", () => {
			document.querySelectorAll(".municipalities button[data-url]").forEach(elem => {
				elem.addEventListener("click", ( async (event) => {
					mask.classList.add('active');
					const elem = event.target;
					const calendarURL = elem.getAttribute("data-url");
					const hasMaintainer = elem.getAttribute("data-has-maintainer");
					const li = elem.closest("li");
					const lagislatorName = li.querySelector("li .candidate-name").firstChild.textContent;
					const constituencyName = li.querySelector("li .candidate-zone").innerHTML;
					dialog.querySelector("h3").innerHTML = `罷免行事曆<br>${constituencyName} - ${lagislatorName}`;
					dialog.querySelector(".content").innerHTML = `
						<div class="dialog-calendar-status">
							${hasMaintainer === "true"
								? '<i class="icon-is-active active"></i>行事曆狀態：罷免團體已接管'
								: '<i class="icon-is-active inactive"></i>行事曆狀態：等待罷免團體接管'}
						</div>
						<p>行事曆內容由該選區罷免團體接管後，陸續更新罷免最新活動。請新增行事曆並持續關注，不錯過罷免重要時程！</p>
						<div class="dialog-action">
							<a href="${calendarURL}" target="_blank"><button class="btn-primary lg w100">前往新增行事曆</button></a>
						</div>`;
					mask.classList.remove('active');
					showDialog();
				}));
			});
		});
	</script>
</body>
</html>
