<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	{{ template "preview-head" . }}
</head>

<body>
	{{ template "mask" }}
	{{ template "preview-control-panel" . }}
	<div class="a4-landscape">
		<div class="stage-2-form-container">
			<table class="stage-2-form">
				<colgroup>
					<col class="col-num">
					<col class="col-nidc-digit">
					<col class="col-nidc-digit">
					<col class="col-nidc-digit">
					<col class="col-nidc-digit">
					<col class="col-nidc-digit">
					<col class="col-nidc-digit">
					<col class="col-nidc-digit">
					<col class="col-nidc-digit">
					<col class="col-nidc-digit">
					<col class="col-nidc-digit">
					<col class="col-birth-date">
					<col class="col-address">
					<col class="col-sign">
					<col class="col-note">
				</colgroup>
				<tr>
					<th class="title" colspan="15"><span style="word-spacing:216px;">&nbsp;</span>{{.ConstituencyName}}立法委員{{.PoliticianName}}罷免案連署人名冊</th>
				</tr>
				<tr>
					<th class="num secondary-header" rowspan="2">編<br>號</th>
					<th class="name secondary-header" colspan="10"><span style="word-spacing:201px;">姓 名</span></th>
					<th class="secondary-header" rowspan="2">出生年月日</th>
					<th class="secondary-header"><span style="word-spacing:97px;">戶 籍 地 址</span></th>
					<th class="secondary-header" rowspan="2">簽名或蓋章</th>
					<th class="secondary-header" rowspan="2"><span style="word-spacing:10px;">備 註</span></th>
				</tr>
				<tr>
					<th class="nidc secondary-header" colspan="10"><span style="word-spacing:33px;">國 民 身 分 證</span><br><span style="word-spacing:51px;">統 一 編 號</span></th>
					<th></th>
				</tr>
				<tr class="input-row">
					<td class="input-num" rowspan="2"></td>
					<td class="input-name text-align-center" colspan="10">{{.Name}}</td>
					<td class="text-align-center" rowspan="2">
						<div>{{.BirthYear}} 年 {{.BirthMonth}} 月 {{.BirthDate}} 日</div>
					</td>
					<td class="text-align-center" rowspan="2">{{.Address}}</td>
					<td rowspan="2"></td>
					<td rowspan="2"></td>
				</tr>
				<tr class="input-row">
					<td class="input-nidc">{{.IdNumber.D0}}</td>
					<td class="input-nidc">{{.IdNumber.D1}}</td>
					<td class="input-nidc">{{.IdNumber.D2}}</td>
					<td class="input-nidc">{{.IdNumber.D3}}</td>
					<td class="input-nidc">{{.IdNumber.D4}}</td>
					<td class="input-nidc">{{.IdNumber.D5}}</td>
					<td class="input-nidc">{{.IdNumber.D6}}</td>
					<td class="input-nidc">{{.IdNumber.D7}}</td>
					<td class="input-nidc">{{.IdNumber.D8}}</td>
					<td class="input-nidc">{{.IdNumber.D9}}</td>
				</tr>
				{{ template "stage-2-form-input-row" }}
				{{ template "stage-2-form-input-row" }}
				{{ template "stage-2-form-input-row" }}
				{{ template "stage-2-form-input-row" }}
				{{ template "stage-2-form-input-row" }}
				{{ template "stage-2-form-input-row" }}
			</table>
			<div class="whereToSign" style="left:83.1%;top:37.3%;width:8%; height:8.4%;"></div>
		</div>
	</div>
</body>

</html>
