<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	{{ template "preview-head" . }}
</head>

<body>
	{{ template "mask" }}
	{{ template "preview-control-panel" . }}
	<div class="a4-landscape" style="background-image:url('{{.BaseURL}}/assets/images/{{.Stage}}-{{.Zone}}.webp');">
		<!-- <img class="printBackground" src="{{.BaseURL}}/assets/images/position.png" alt=""> -->
		<div class="whereToSign aLine " style=" left: 39%; top: 17%;  width: 20%; height: 5%;"></div>
		<div class="inputField lg center " style=" left: 80%; top: 16.0%;  ">
			{{.MobileNumber}}
		</div>
		<div class="inputField center lg" style=" left: 23.1%; top: 67.2%;    letter-spacing:0.72em">
			{{.IdNumber.D0}}{{.IdNumber.D1}}{{.IdNumber.D2}}{{.IdNumber.D3}}{{.IdNumber.D4}}{{.IdNumber.D5}}{{.IdNumber.D6}}{{.IdNumber.D7}}{{.IdNumber.D8}}{{.IdNumber.D9}}
		</div>
		<div class="inputField center xl" style=" left: 22.9%; top: 56%;  ">
			{{.Name}}
		</div>
		<div class="inputField center md" style=" left:39.1%; top: 54.5%; ">
			{{.BirthYear}}
		</div>
		<div class="inputField center md" style=" left:39.1%; top: 60.1%; ">
			{{.BirthMonth}}
		</div>
		<div class="inputField center md" style=" left:39.1%; top: 65.4%; ">
			{{.BirthDate}}
		</div>
		<div class="inputField center  whiteBg" style=" left: 60%; top: 54.5%;  width: 33.8%; height: 16.5%;">
			{{.Address}}
		</div>
		<div class="whereToSign" style=" left: 84.8%; top: 62.5%;  width: 10%; height: 15%;"></div>
	</div>
</body>

</html>
