<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	{{ template "preview-head" . }}
</head>

<body>
	{{ template "mask" }}
	{{ template "preview-control-panel" . }}
	<div class="a4-landscape" style="background-image:url('{{.BaseURL}}/assets/images/{{.Stage}}-{{.Zone}}-1.webp');">
		<!-- <img class="printBackground" src="{{.BaseURL}}/assets/images/position.png" alt=""> -->

		<div class="whereToSign" style=" left: 84.9%; top: 53.2%;  width: 9%; height: 11%;"></div>
		<div class="inputField center md " style=" left: 21.5%; top: 56.5%;    letter-spacing:0.75em">
			{{.IdNumber.D0}}{{.IdNumber.D1}}{{.IdNumber.D2}}{{.IdNumber.D3}}{{.IdNumber.D4}}{{.IdNumber.D5}}{{.IdNumber.D6}}{{.IdNumber.D7}}{{.IdNumber.D8}}{{.IdNumber.D9}}
		</div>
		<div class="inputField center lg " style=" left: 22%; top: 49%;  ">
			{{.Name}}
		</div>
		<div class="inputField center md " style=" left: 37.1%; top: 51.5%; ">
			{{.BirthYear}}{{printf "%02d" .BirthMonth}}{{printf "%02d" .BirthDate}}
		</div>
		<div class="inputField center sm " style="left:60.7%; top:49%; width:36.5%;">
			{{.Address}}
		</div>

	</div>
	<div class="a4-landscape" style="background-image:url('{{.BaseURL}}/assets/images/{{.Stage}}-{{.Zone}}-2.webp');">
		<div class="whereToSign aLine" style=" left: 28%; top: 60%;  width: 25%; height: 8%;"></div>
		<div class="inputField xl" style="left:57.5%; top:58%;">
			{{.MobileNumber}}
		</div>
	</div>
</body>


</html>
