<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	{{ template "preview-head" . }}
</head>

<body>
	{{ template "mask" }}
	{{ template "preview-control-panel" . }}
	<div class="a4-landscape" style="background-image:url('{{.BaseURL}}/assets/images/{{.Stage}}-{{.Zone}}-1.webp');">

		<div class="inputField center xl" style=" left: 21.2%; top: 47.5%;  ">
			{{.Name}}
		</div>
		<div class="inputField center lg" style=" left: 21.4%; top: 56.0%;    letter-spacing:0.52em">
			{{.IdNumber.D0}}{{.IdNumber.D1}}{{.IdNumber.D2}}{{.IdNumber.D3}}{{.IdNumber.D4}}{{.IdNumber.D5}}{{.IdNumber.D6}}{{.IdNumber.D7}}{{.IdNumber.D8}}{{.IdNumber.D9}}
		</div>
		<div class="inputField center  " style=" left: 36.5%; top: 48%; ">
			{{.BirthYear}} 年
		</div>
		<div class="inputField center  " style=" left: 36.5%; top: 52%; ">
			{{printf "%02d" .BirthMonth}} 月
		</div>
		<div class="inputField center  " style=" left: 36.5%; top: 56%; ">
			{{printf "%02d" .BirthDate}} 日
		</div>
		<div class="inputField center  whiteBg" style=" left: 60.6%; top: 46.5%;  width: 37%; height: 12%;">
			{{.Address}}
		</div>
		<div class="whereToSign" style=" left: 84.9%; top: 53%;  width: 9%; height: 11%;"></div>
	</div>
	<div class="a4-landscape" style="background-image:url('{{.BaseURL}}/assets/images/{{.Stage}}-{{.Zone}}-2.webp');">
		<!-- <img class="printBackground" src="{{.BaseURL}}/assets/images/position.png" alt=""> -->
		<div class="whereToSign aLine" style=" left: 29%; top: 60%;  width: 25%; height: 10%;"></div>
		<div class="inputField center lg" style=" left: 65%; top:59%; ">
			{{.MobileNumber}}
		</div>
	</div>
</body>

</html>
