<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<meta charset="utf-8" />
	<title>第一階段罷免連署書 - {{.Topic}}</title>
	<link rel="stylesheet" href="{{.BaseURL}}/assets/css/preview.css?v0.0.10">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
	<script src="{{.BaseURL}}/assets/js/common.js?v0.0.17"></script>
</head>

<body>
	<div class="mask">
		<div class="spinner"></div>
	</div>
	<div class="floating-btn-container">
		<button class="floating-btn primary-btn downloadBtn" onclick="downloadPDF('.a4-landscape', '第一階段罷免連署書 - {{.Topic}}', '{{.RedirectURL}}');">確認下載</button>
		<a href="{{.BaseURL}}/{{.Stage}}/{{.Zone}}"><button class="floating-btn secondary-btn">返回重填</button></a>
	</div>
	<div class="a4-landscape" style="background-image:url('{{.BaseURL}}/assets/images/{{.Stage}}-{{.Zone}}.webp');">
		<!-- <img class="printBackground" src="{{.BaseURL}}/assets/images/position.png" alt=""> -->
		<div class="whereToSign" style=" left:19%; top:13%;  width:18%; height:8%;"></div>
		<div class="inputField center lg" style=" left: 68%; top: 11.2%;  ">
			{{.MobileNumber}}
		</div>
		<div class="inputField center lg" style=" left: 19%; top: 75%;    letter-spacing:0.68em">
			{{.IdNumber.D0}}{{.IdNumber.D1}}{{.IdNumber.D2}}{{.IdNumber.D3}}{{.IdNumber.D4}}{{.IdNumber.D5}}{{.IdNumber.D6}}{{.IdNumber.D7}}{{.IdNumber.D8}}{{.IdNumber.D9}}
		</div>
		<div class="inputField center xl" style=" left: 18%; top: 63%;  ">
			{{.Name}}
		</div>
		<div class="inputField center md" style=" left: 32.3%; top: 61%; ">
			{{.BirthYear}}
		</div>
		<div class="inputField center md" style=" left: 32.3%; top: 67.5%; ">
			{{.BirthMonth}}
		</div>
		<div class="inputField center md" style=" left: 32.3%; top: 74.5%; ">
			{{.BirthDate}}
		</div>
		<div class="inputField center md whiteBg" style=" left: 56.4%; top: 60.5%;  width: 45%; height: 21%;">
			{{.Address}}
		</div>
		<div class="whereToSign" style=" left: 85.8%; top: 71%;  width: 12%; height: 19%;"></div>
	</div>
</body>

</html>
