<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<meta charset="utf-8" />
	<title>第一階段罷免連署書 - {{.Topic}}</title>
	<link rel="stylesheet" href="{{.BaseURL}}/assets/css/preview.css?v0.0.8">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
	<script src="{{.BaseURL}}/assets/js/common.js?v0.0.16"></script>
</head>

<body>
	<div class="mask">
		<div class="spinner"></div>
	</div>
	<div class="floating-btn-container">
		<button class="floating-btn primary-btn downloadBtn" onclick="downloadPDF('.a4-landscape', '第一階段罷免連署書 - {{.Topic}}', '{{.RedirectURL}}');">確認下載</button>
		<a href="{{.BaseURL}}/{{.Stage}}/{{.Zone}}"><button class="floating-btn secondary-btn">返回重填</button></a>
	</div>
	<div class="a4-landscape" style="background-image:url('{{.BaseURL}}/assets/images/{{.Stage}}-{{.Zone}}.webp');">
		<!-- <img class="printBackground" src="{{.BaseURL}}/assets/images/position.png" alt=""> -->
		<div class="inputField center lg" style=" left: 24.2%; top: 49%;    letter-spacing:0.62em">
			{{.IdNumber.D0}}{{.IdNumber.D1}}{{.IdNumber.D2}}{{.IdNumber.D3}}{{.IdNumber.D4}}{{.IdNumber.D5}}{{.IdNumber.D6}}{{.IdNumber.D7}}{{.IdNumber.D8}}{{.IdNumber.D9}}
		</div>
		<div class="inputField center xl" style=" left: 24%; top: 33%;  ">
			{{.Name}}
		</div>
		<div class="inputField center md" style=" left: 38.5%; top: 29%; ">
			{{.BirthYear}}
		</div>
		<div class="inputField center md" style=" left: 38.5%; top: 36%; ">
			{{.BirthMonth}}
		</div>
		<div class="inputField center md" style=" left: 38.5%; top: 44.5%; ">
			{{.BirthDate}}
		</div>
		<div class="inputField center sm whiteBg" style=" left: 58%; top: 26%;  width: 32%; height: 26%;">
			{{.Address}}
		</div>
		<div class="whereToSign" style=" left: 81%; top: 39.3%;  width: 9%; height: 26.5%;"></div>
		<div class="whereToSign aLine sm" style=" left: 18%; top: 88%;  width:7%; height: 4.5%;"></div>
		<div class="inputField center md" style=" left: 34%; top:87%; ">
			{{.MobileNumber}}
		</div>
	</div>
</body>
</html>
