<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<meta charset="utf-8" />
	<title>第一階段罷免連署書 - {{.Topic}}</title>
	<link rel="stylesheet" href="{{.BaseURL}}/assets/css/preview.css?v0.0.10">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
	<script src="{{.BaseURL}}/assets/js/common.js?v0.0.16"></script>
</head>

<body>
	<div class="mask">
		<div class="spinner"></div>
	</div>
	<div class="floating-btn-container">
		<button class="floating-btn primary-btn" onclick="downloadPDF('.a4-landscape', '第一階段罷免連署書 - {{.Topic}}', '{{.RedirectURL}}')">確認下載</button>
		<a href="{{.BaseURL}}/{{.Stage}}/{{.Zone}}"><button class="floating-btn secondary-btn">返回重填</button></a>
	</div>
	<div class="a4-landscape" style="background-image:url('{{.BaseURL}}/assets/images/{{.Stage}}-{{.Zone}}.webp');">
		<!-- <img class="printBackground" src="{{.BaseURL}}/assets/images/position.png" alt=""> -->
		<div class="whereToSign aLine sm" style=" left: 15%; top: 22.5%;  width: 9%; height: 3.2%;"></div>
		<div class="inputField center " style=" left: 33%; top: 22%;  ">
			{{.MobileNumber}}
		</div>
		<div class="inputField center lg" style=" left: 21.2%; top: 72%;    letter-spacing:0.72em">
			{{.IdNumber.D0}}{{.IdNumber.D1}}{{.IdNumber.D2}}{{.IdNumber.D3}}{{.IdNumber.D4}}{{.IdNumber.D5}}{{.IdNumber.D6}}{{.IdNumber.D7}}{{.IdNumber.D8}}{{.IdNumber.D9}}
		</div>
		<div class="inputField center xl" style=" left: 22%; top: 58%;  ">
			{{.Name}}
		</div>
		<div class="inputField center md" style=" left: 37.1%; top: 57%; ">
			{{.BirthYear}}
		</div>
		<div class="inputField center md" style=" left: 37.1%; top: 65%; ">
			{{.BirthMonth}}
		</div>
		<div class="inputField center md" style=" left: 37.1%; top: 73%; ">
			{{.BirthDate}}
		</div>
		<div class="inputField center md whiteBg" style=" left: 59.15%; top: 56%;  width: 37.8%; height: 23%;">
			{{.Address}}
		</div>
		<div class="whereToSign" style=" left: 84.4%; top: 67%;  width: 11%; height: 21%;"></div>
	</div>
</body>

</html>
