<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<meta charset="utf-8" />
	<title>第一階段罷免連署書 - {{.Topic}}</title>
	<link rel="stylesheet" href="{{.BaseURL}}/assets/css/preview.css?v0.0.9">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
	<script src="{{.BaseURL}}/assets/js/common.js?v0.0.16"></script>
</head>

<body>
	<div class="mask">
		<div class="spinner"></div>
	</div>
	<div class="floating-btn-container">
		<button class="floating-btn primary-btn downloadBtn" onclick="downloadPDF('.a4-portrait', '第一階段罷免連署書 - {{.Topic}}', '{{.RedirectURL}}');">確認下載</button>
		<a href="{{.BaseURL}}/{{.Stage}}/{{.Zone}}"><button class="floating-btn secondary-btn">返回重填</button></a>
	</div>
	<div class="a4-portrait " style="background-image:url('{{.BaseURL}}/assets/images/{{.Stage}}-{{.Zone}}.webp');">
		<!-- <img class="printBackground" src="{{.BaseURL}}/assets/images/position_2.png" alt=""> -->
		<div class="inputField center md" style=" left: 21.5%; top: 90.5%;    letter-spacing:0.52em">
			{{.IdNumber.D0}}{{.IdNumber.D1}}{{.IdNumber.D2}}{{.IdNumber.D3}}{{.IdNumber.D4}}{{.IdNumber.D5}}{{.IdNumber.D6}}{{.IdNumber.D7}}{{.IdNumber.D8}}{{.IdNumber.D9}}
		</div>
		<div class="inputField center lg" style=" left: 22%; top: 83%;  ">
			{{.Name}}
		</div>
		<div class="inputField center" style=" left: 36.8%; top: 81.2%;">
			{{.BirthYear}}
		</div>
		<div class="inputField center" style=" left: 36.8%; top: 85.2%;">
			{{.BirthMonth}}
		</div>
		<div class="inputField center" style=" left: 36.8%; top:89.5%;">
			{{.BirthDate}}
		</div>
		<div class="inputField center whiteBg" style=" left: 59.5%; top: 80.2%;  width: 37.2%; height:13%;">
			{{.Address}}
		</div>
		<div class="whereToSign" style=" left: 85%; top: 87%;  width: 10%; height: 11%;"></div>
	</div>
</body>

</html>
