<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<meta charset="utf-8" />
	<title>第一階段罷免連署書 - {{.Topic}}</title>
	<link rel="stylesheet" href="{{.BaseURL}}/assets/css/preview.css?v0.0.8">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
	<script src="{{.BaseURL}}/assets/js/common.js?v0.0.6"></script>
	<style>

	</style>
</head>

<body>
	<div class="floating-btn-container">
		<button class="floating-btn primary-btn downloadBtn">確認下載</button>
		<a href="{{.BaseURL}}/{{.Stage}}/{{.Zone}}"><button class="floating-btn secondary-btn">返回重填</button></a>
	</div>
	<div class="a4-landscape" style="background-image:url('{{.BaseURL}}/assets/images/{{.Stage}}-{{.Zone}}.webp');">
		<!-- <img class="printBackground" src="{{.BaseURL}}/assets/images/position.png" alt=""> -->

		<div class="inputField center lg" style=" left: 25.6%; top: 48%;    letter-spacing:0.58em">
			{{.IdNumber.D0}}{{.IdNumber.D1}}{{.IdNumber.D2}}{{.IdNumber.D3}}{{.IdNumber.D4}}{{.IdNumber.D5}}{{.IdNumber.D6}}{{.IdNumber.D7}}{{.IdNumber.D8}}{{.IdNumber.D9}}
		</div>
		<div class="inputField center xl" style=" left: 25.5%; top: 36.4%;  ">
			{{.Name}}
		</div>
		<div class="inputField center md" style=" left: 39.4%; top: 39.5%; ">
			{{.BirthYear}}
		</div>
		<div class="inputField center md" style=" left: 39.4%; top: 45%; ">
			{{.BirthMonth}}
		</div>
		<div class="inputField center md" style=" left: 39.4%; top: 50%; ">
			{{.BirthDate}}
		</div>
		<div class="inputField center  whiteBg" style=" left: 58%; top: 36.5%;  width: 27%; height: 18%;">
			{{.Address}}
		</div>
		<div class="whereToSign" style=" left: 79%; top: 45.5%;  width: 13%; height: 17.5%;"></div>


		<div class="whereToSign aLine sm" style=" left: 19.5%; top: 90.5%;  width: 13%; height: 4%;"></div>
		<div class="inputField center md" style=" left: 42%; top: 89.5%;  ">
			{{.MobileNumber}}
		</div>
	</div>


</body>

<script>
	whereToSigns = document.getElementsByClassName('whereToSign')
	document.getElementsByClassName('downloadBtn')[0].addEventListener('click', () => {
		console.log(whereToSigns)
		for (let i = 0; i < whereToSigns.length; i++) {
			whereToSigns[i].style.opacity = 0;
		}
		setTimeout(() => {
			downloadPDF('.a4-landscape', '第一階段罷免連署書 - {{.Topic}}', '{{.RedirectURL}}')
		}, 100)
	})

</script>

</html>