<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	{{ template "preview-head" . }}
</head>
<body>
	{{ template "mask" }}
	{{ template "preview-control-panel" . }}
	<div class="a4-landscape">
		<div class="a4-inner-container">
			<div class="img-container">
				<img src="{{.BaseURL}}/assets/images/stage-2-{{.PoliticianName}}.png" style="transform:rotate(0.1deg);">
			</div>
			<div class="inputField center md" style="left:21.3%; top:26.2%; letter-spacing:0.2em">
				{{.Name}}
			</div>
			<div class="inputField center md" style="left:21.8%; top:31%; letter-spacing:0.71em">
				{{.IdNumber.D0}}{{.IdNumber.D1}}{{.IdNumber.D2}}{{.IdNumber.D3}}{{.IdNumber.D4}}{{.IdNumber.D5}}{{.IdNumber.D6}}{{.IdNumber.D7}}{{.IdNumber.D8}}{{.IdNumber.D9}}
			</div>
			<div class="inputField center sm whiteBg" style="text-align:right; left:38%; top:27%; width:11.5%; height:8%; letter-spacing:0.2em; line-height:24px;">
				{{.BirthYear}} 年<br>{{.BirthMonth}} 月 {{.BirthDate}} 日
			</div>
			<div class="inputField center addr-xsm whiteBg" style="left:60.9%; top:26.8%; width:33.4%; height:8.3%; padding:4px;">
				{{.Address}}
			</div>
			<div class="whereToSign" style="left:82.1%; top:30.9%; width:7.6%; height:7.3%;"></div>
		</div>
	</div>
</body>
</html>
