<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	{{ template "preview-head" . }}
</head>
<body>
	{{ template "mask" }}
	{{ template "preview-control-panel" . }}
	<div class="a4-landscape">
		<div class="img-container">
			<img src="{{.BaseURL}}/assets/images/stage-2-{{.PoliticianName}}.png">
		</div>
		<div class="inputField center md" style="left:22.6%; top:29.5%; letter-spacing:0.73em">
			{{.Name}}
		</div>
		<div class="inputField center md" style="left:22.6%; top:34.2%; letter-spacing:0.71em">
			{{.IdNumber.D0}}{{.IdNumber.D1}}{{.IdNumber.D2}}{{.IdNumber.D3}}{{.IdNumber.D4}}{{.IdNumber.D5}}{{.IdNumber.D6}}{{.IdNumber.D7}}{{.IdNumber.D8}}{{.IdNumber.D9}}
		</div>
		<div class="inputField center sm" style="left:38.8%; top:33%; letter-spacing:0.02em">
			{{.BirthYear}} 年 {{.BirthMonth}} 月 {{.BirthDate}} 日
		</div>
		<div class="inputField center xsm" style="left:61.6%; top:21.5%; width:32.8%; height:25%;">
			{{.Address}}
		</div>
		<div class="whereToSign" style="left:82.8%; top:34.1%; width:7.6%; height:7.4%;"></div>
	</div>
</body>
</html>
