<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	{{ template "preview-head" . }}
</head>
<body>
	{{ template "mask" }}
	{{ template "preview-control-panel" . }}
	<div class="a4-landscape">
		<div class="img-container">
			<img src="{{.BaseURL}}/assets/images/stage-2-{{.PoliticianName}}.png">
		</div>
		<div class="inputField center md" style="left:22.5%; top:26.5%; letter-spacing:0.73em">
			{{.Name}}
		</div>
		<div class="inputField center md" style="left:22.5%; top:31.2%; letter-spacing:0.72em">
			{{.IdNumber.D0}}{{.IdNumber.D1}}{{.IdNumber.D2}}{{.IdNumber.D3}}{{.IdNumber.D4}}{{.IdNumber.D5}}{{.IdNumber.D6}}{{.IdNumber.D7}}{{.IdNumber.D8}}{{.IdNumber.D9}}
		</div>
		<div class="inputField center sm" style="left:38.8%; top:30.1%; letter-spacing:0.02em">
			{{.BirthYear}}.{{.BirthMonth}}.{{.BirthDate}}
		</div>
		<div class="inputField center xsm" style="left:61.7%; top:18.7%; width:33%; height:25%;">
			{{.Address}}
		</div>
		<div class="whereToSign" style="left:82.7%; top:31%; width:7.6%; height:7.2%;"></div>
	</div>
</body>
</html>
