<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	{{ template "preview-head" . }}
</head>
<body>
	{{ template "mask" }}
	{{ template "preview-control-panel" . }}
	<div class="a4-landscape">
		<div class="a4-inner-container">
			<div class="img-container">
				<img src="{{.BaseURL}}/assets/images/stage-2-{{.PoliticianName}}.png">
			</div>
			<div class="inputField center md" style="left:22.4%; top:25.9%; letter-spacing:0.2em">
				{{.Name}}
			</div>
			<div class="inputField center md" style="left:22.8%; top:30.7%; letter-spacing:0.71em">
				{{.IdNumber.D0}}{{.IdNumber.D1}}{{.IdNumber.D2}}{{.IdNumber.D3}}{{.IdNumber.D4}}{{.IdNumber.D5}}{{.IdNumber.D6}}{{.IdNumber.D7}}{{.IdNumber.D8}}{{.IdNumber.D9}}
			</div>
			<div class="inputField center sm" style="left:38.8%; top:29.8%; letter-spacing:0.02em">
				{{.BirthYear}} / {{.BirthMonth}} / {{.BirthDate}}
			</div>
			<div class="inputField center xsm" style="left:62.2%; top:18.2%; width:33%; height:25%;">
				{{.Address}}
			</div>
			<div class="whereToSign" style="left:83.3%; top:30.6%; width:7.7%; height:7.4%;"></div>
		</div>
	</div>
</body>
</html>
