<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	{{ template "preview-head" . }}
</head>
<body>
	{{ template "mask" }}
	{{ template "preview-control-panel" . }}
	<div class="a4-landscape">
		<div class="a4-inner-container">
			<div class="img-container">
				<img src="{{.BaseURL}}/assets/images/stage-2-{{.PoliticianName}}.png" style="transform:rotate(0.1deg);">
			</div>
			<div class="inputField center md" style="left:22.7%; top:26.3%; letter-spacing:0.2em">
				{{.Name}}
			</div>
			<div class="inputField center md" style="left:23.1%; top:30.9%; letter-spacing:0.71em">
				{{.IdNumber.D0}}{{.IdNumber.D1}}{{.IdNumber.D2}}{{.IdNumber.D3}}{{.IdNumber.D4}}{{.IdNumber.D5}}{{.IdNumber.D6}}{{.IdNumber.D7}}{{.IdNumber.D8}}{{.IdNumber.D9}}
			</div>
			<div class="inputField center sm" style="left:39.4%; top:30.2%; letter-spacing:0.02em">
				{{.BirthYear}}.{{.BirthMonth}}.{{.BirthDate}}
			</div>
			<div class="inputField center xsm whiteBg" style="left:62.3%; top:27.1%; width:33%; height:8%;">
				{{.Address}}
			</div>
			<div class="whereToSign" style="left:83.4%; top:31%; width:7.8%; height:7.4%;"></div>
		</div>
	</div>
</body>
</html>
