<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	{{ template "preview-head" . }}
</head>
<body>
	{{ template "mask" }}
	{{ template "preview-control-panel" . }}
	<div class="a4-landscape">
		<div class="a4-inner-container">
			<div class="img-container">
				<img src="{{.BaseURL}}/assets/images/stage-2-{{.PoliticianName}}.png" style="transform:rotate(0.3deg);">
			</div>
			<div class="inputField center md" style="left:21.9%; top:26.5%; letter-spacing:0.2em">
				{{.Name}}
			</div>
			<div class="inputField center md" style="left:22.5%; top:30.7%; letter-spacing:0.71em">
				{{.IdNumber.D0}}{{.IdNumber.D1}}{{.IdNumber.D2}}{{.IdNumber.D3}}{{.IdNumber.D4}}{{.IdNumber.D5}}{{.IdNumber.D6}}{{.IdNumber.D7}}{{.IdNumber.D8}}{{.IdNumber.D9}}
			</div>
			<div class="inputField center sm" style="left:38.7%; top:29.8%; letter-spacing:0.02em">
				{{.BirthYear}} 年 {{.BirthMonth}} 月 {{.BirthDate}} 日
			</div>
			<div class="inputField center addr-xsm" style="left:61.7%; top:18.3%; width:33%; height:25%;">
				{{.Address}}
			</div>
			<div class="whereToSign" style="left:82.7%; top:30.8%; width:7.7%; height:7.4%;"></div>
		</div>
	</div>
</body>
</html>
