{{ define "common-head" }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:locale" content="zh_TW">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://recall2025.ourtaiwan.tw/assets/images/og.png">
  <meta property="og:url" content="https://recall2025.ourtaiwan.tw">
  <link rel="icon" href="{{.BaseURL}}/assets/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="{{.BaseURL}}/assets/css/style.css?v0.0.156">
  <script src="{{.BaseURL}}/assets/js/common.js?v0.0.17"></script>
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
{{ end }}

{{ define "preview-head" }}
  <meta charset="utf-8" />
  <title>第一階段罷免連署書 - {{.Topic}}</title>
  <link rel="stylesheet" href="{{.BaseURL}}/assets/css/preview.css?v0.0.10">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
  <script src="{{.BaseURL}}/assets/js/common.js?v0.0.17"></script>
{{ end }}

{{ define "preview-control-panel" }}
  <div class="floating-btn-container">
    <button class="floating-btn primary-btn" onclick="downloadPDF('.a4-landscape', '第一階段罷免連署書 - {{.Topic}}', '{{.RedirectURL}}')">確認下載</button>
    <a href="{{.BaseURL}}/{{.Stage}}/{{.Zone}}"><button class="floating-btn secondary-btn">返回重填</button></a>
  </div>
{{ end }}

{{ define "mask" }}
  <div class="mask">
    <div class="spinner"></div>
  </div>
{{ end }}
